<section class="footer">
    <div class="container">
        <div class="footer-item">
            <div class="footer-item-first-block">
                <div class="logo">
                    <a href="/">
                        <img src="~/images/logo.png" alt="logo" >
                    </a>
                </div>
            </div>
            <div class="footer-item-second-block">
                <div class="heading-footer-list"><a href="/tag/lich-thi-dau-hom-nay">Sitemap</a></div>
                <div class="heading-footer-list"><a href="/lich-thi-dau/bong-da/truc-tiep">About us</a></div>
                <div class="heading-footer-list"><a href="/tag/ket-qua-bong-da-hom-nay">Story</a></div>
                <div class="heading-footer-list"><a href="/tag/diem-tin-bong-da-hom-nay">Career</a></div>
            </div>
            <div class="footer-item-third-block">
                <div class="heading-footer-list"><a href="/tag/diem-tin-bong-da-hom-nay">  </a></div>
                <div class="heading-footer-list"><a href="/tag/lich-thi-dau-hom-nay">Mission</a></div>
                <div class="heading-footer-list"><a href="/lich-thi-dau/bong-da/truc-tiep">Blog</a></div>
                <div class="heading-footer-list"><a href="/tag/ket-qua-bong-da-hom-nay">Partnership</a></div>
            </div>
            <div class="footer-item-block show-pc">
                <p class="text-follow">Get in touch</p>
                <div class="contact">
                    <p>+9198323 000000</p>
                    <p>info@Ebooks.com</p>
                </div>
                <div class="follow">
                    <a class="icon-social-facebook" href="https://www.facebook.com/sabasportsvietnam"></a>
                    <a class="icon-social-youtube" href="https://www.youtube.com/SABASportsVietnam"></a>
                    <a class="icon-tiktok" href="https://www.tiktok.com/sabasportsvietnam"></a>
                </div>
            </div>
        </div>


        <div class="footer-info">
            <div class="footer-logo show-mb">
                <a href="/">
                 <img src="/images/logo-footer.png?v=UW15WzZev4l2ICHBBG7OJeEAifrwUULqzpG0ZyQoLlU" alt="logo" class="img-res" width="88" height="46" loading="lazy">
                </a>
            </div>

            <div class="footer-info-main">
                <div class="copy-right">
                    <div class="copy-right-info">
                        ©Copyright @DateTime.Now.Year, All rights reserved by Ebooks
                    </div>
                </div>
                <div class="flow-us show-mb">
                    <p class="text-follow">Theo dõi SABA Sports trên</p>
                    <div class="follow show-mb">
                        <a class="icon-social-facebook" href="https://www.facebook.com/sabasportsvietnam"></a>
                        <a class="icon-social-youtube" href="https://www.youtube.com/SABASportsVietnam"></a>
                        <a class="icon-tiktok" href="https://www.tiktok.com/sabasportsvietnam"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-to-top-box">
        <div class="back-to-top" style=""><span class="icon-chevron-right"></span></div>
    </div>
</section>