/*:root {
    --column : 12;
    --padding-col : 0 1.5rem;
}*/
.label-admin {
  margin: 0.6rem 0;
  font-size: 1.4rem;
  color: #444444;
}

.custom-input {
  height: 4rem;
  width: 22rem;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;
  padding: 0.8rem;
  font-size: 1.4rem;
  color: #444444;
  font-weight: bold;
  cursor: pointer;
}
.custom-input:focus {
  outline: none;
}
.custom-input.list-input {
  cursor: unset;
  font-weight: normal;
}
.custom-input.list-input::placeholder {
  color: #979797;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: normal;
}

/*:root {
    --column : 12;
    --padding-col : 0 1.5rem;
}*/
/*:root {
    --column : 12;
    --padding-col : 0 1.5rem;
}*/
.pagination {
  height: 4.1rem;
  border-bottom: 1px solid #D7D7D7;
  border-left: 1px solid #D7D7D7;
  border-right: 1px solid #D7D7D7;
  justify-content: center;
  padding: 0;
  background-color: #FBFBFB;
  position: relative;
}
.pagination .page-size {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  font-size: 1.4rem;
}
.pagination .page-size .label-admin {
  margin: 0 1rem;
}
.pagination .page-size #page-size {
  height: 2.8rem;
  border-radius: 2px;
  border: 1px solid #C4C4C4;
}
.pagination .page-size #page-size:focus {
  outline: none;
}
.pagination .icon-pagination:before {
  color: #444444;
}
.pagination .icon-pagination.disabled {
  opacity: 0.5;
}
.pagination .main-pagination .items-pagination .item {
  color: #444444;
}
.pagination .main-pagination .active {
  background-color: #E0E1F0;
}

.custom-table {
  width: 100%;
  background: #FBFBFB;
  box-shadow: 0px 1px 4px rgba(86, 89, 146, 0.1);
  border: 1px solid #D7D7D7;
}
.custom-table tr:not(:first-child):hover {
  background-color: #FEF3D6;
}
.custom-table tr th {
  border: 1px solid #D7D7D7;
  line-height: 1.6rem;
  color: #424242;
  padding: 1.5rem 0;
}
.custom-table tr td {
  border: 1px solid #D7D7D7;
  padding: 0.6rem 1rem;
}
.custom-table tr td a {
  text-decoration: none;
  color: #0052CC;
}

.label {
  font-size: 1.2rem;
  border-radius: 3px;
  padding: 0.3rem 1.2rem;
  font-weight: bold;
  margin: 0 0.5rem;
}
.label:hover {
  text-decoration: none;
  color: #fff;
}
.label-blue {
  background: #C4DDFA;
  color: #5A86B8;
  border: 1px solid #7CB2EF;
}
.label-blue:hover {
  background: #5A86B8;
  border: 1px solid #5A86B8;
}
.label-green {
  background: #E7FBD0;
  border: 1px solid #96D152;
  color: #77A83F;
}
.label-green:hover {
  background: #77A83F;
  border: 1px solid #77A83F;
}
.label-red {
  background: #FFD2CF;
  border: 1px solid #FC9F99;
  color: #CA5E57;
}
.label-red:hover {
  background: #CA5E57;
  border: 1px solid #CA5E57;
}
.label.resend-all {
  background: #DAEAFF;
  color: #346CB5;
  cursor: pointer;
  outline: none;
  border: 1px solid #8ABDFF;
}
.label.resend-all:hover {
  background: #346CB5;
  border: 1px solid #346CB5;
  color: #fff;
}
.label.resend-all:focus {
  outline: none;
}

.table-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.table-control .action {
  width: 2.4rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin: 0 0.8rem;
  text-decoration: none;
  border-radius: 100%;
  position: relative;
}
.table-control .action:hover .tooltip-menu {
  display: block;
  left: -4rem;
  top: 3rem;
  z-index: 9999;
}
.table-control .action.action-edit:hover {
  background-color: #D7E9C2;
}
.table-control .action.action-edit:hover i:before {
  color: #00875A;
}
.table-control .action.action-delete:hover {
  background-color: #FFCBC8;
}
.table-control .action.action-delete:hover i:before {
  color: #DE350B;
}
.table-control .action.action-send:hover {
  background-color: #D4E6FF;
}
.table-control .action.action-send:hover i:before {
  color: #0052CC;
}
.table-control .action.action-resend:hover {
  background-color: #D4E6FF;
}
.table-control .action.action-resend:hover i:before {
  color: #0052CC;
}

.pagination {
  height: 4.1rem;
  border-bottom: 1px solid #D7D7D7;
  border-left: 1px solid #D7D7D7;
  border-right: 1px solid #D7D7D7;
  justify-content: center;
  padding: 0;
  background-color: #FBFBFB;
}
.pagination .icon-pagination:before {
  color: #444444;
}
.pagination .icon-pagination.disabled {
  opacity: 0.5;
}
.pagination .main-pagination .items-pagination .item {
  color: #444444;
}
.pagination .main-pagination .active {
  background-color: #E0E1F0;
}

.resend-all-email {
  border-top: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  border-left: 1px solid #E3E3E3;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #EDEDED;
  padding: 0 1rem;
}

/*:root {
    --column : 12;
    --padding-col : 0 1.5rem;
}*/
.modal .modal-content {
  border: none;
  border-radius: 0;
  max-width: 60rem;
  margin: 0 auto;
  top: 10rem;
  box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.25);
}
.modal .modal-content .modal-title {
  background-color: #1F2252;
  color: #fff;
  padding: 0 1.6rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal .modal-content .modal-title.title-success {
  background-color: #2270CE;
}
.modal .modal-content .modal-title.title-warning {
  background-color: #A59A39;
}
.modal .modal-content .modal-title.title-error {
  background-color: #FF5757;
}
.modal .modal-content .modal-title .icon-title {
  margin-right: 1.2rem;
}
.modal .modal-content .modal-title .title {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1;
}
.modal .modal-content .modal-title .close-login {
  cursor: pointer;
  background-color: transparent;
  line-height: 1;
}
.modal .modal-content .modal-title .close-login:focus {
  outline: none;
}
.modal .modal-content .modal-title .close-login .icon-close:before {
  color: #fff;
}
.modal .modal-body {
  padding: 2.4rem 1.6rem;
}
.modal .modal-body p {
  margin: 0;
}
.modal .modal-body .custom-input {
  border: 1px solid #DDDDDD;
}
.modal .modal-body .user_list {
  margin-bottom: 1.6rem;
}
.modal .modal-body .form-radio {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 1.6rem;
}
.modal .modal-body .form-radio .raido-custom {
  width: 5.5rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}
.modal .modal-body .form-radio .raido-custom:last-child {
  margin-right: 0;
}
.modal .modal-body .form-radio .raido-custom input[type=radio] {
  margin-right: 0.4rem;
  cursor: pointer;
}
.modal .button-confirm {
  padding: 0 1.6rem 2.4rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal .button-confirm .confirm-action {
  margin-right: 1rem;
}

#TestSendEmail .button-confirm {
  padding: 0;
}

.content {
  margin-top: 2.5rem;
}

.page-table-control .list-input {
  cursor: unset;
  font-weight: normal;
}
.page-table-control .list-input::placeholder {
  color: #979797;
  font-style: italic;
  font-size: 1.4rem;
  font-weight: normal;
}
.page-table-control .list_email_block {
  margin-top: 2.5rem;
}

.detail-header {
  margin-top: 2.4rem;
}
.detail-header .txt-content {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  color: #424242;
  font-weight: bold;
}

#ViewEmailContent .modal-content {
  max-width: 100rem;
}