<div class="header home-page">
    <div class="button-mobile">
        <span class="line-mb"></span>
        <span class="line-mb"></span>
        <span class="line-mb"></span>
    </div>
    <div class="header-controls">
        <div class="container padding-mobile-none">

            <div class="logo">
                <a href="/">
                    <img src="/images/sabasports.svg?v=MsKCZsdq7zCHgbxR4C1agDSqvYYO-61WMFuLpYPisPw" alt="SABA Sports, tin bong da, tin the thao, ltd bong da" width="120" height="55">
                </a>
            </div>
            <div class="search-desktop">
                <form method="get" action="" class="Form " id="SearchForm">
                    <input type="text" value="" name="discipline" class="search-box" placeholder="Search" autocomplete="off" > 
                    <button type="submit" class="search-button">Search</button>
                </form>
            </div>
            <div class="top-header">
                <div class="group-menu">
                <div class="nav-menu">
                    <ul class="main-menu-pc">
                        <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                            <a href="/bong-da-anh-sabavn" class="item " title="Anh">Giới thiệu</a>
                            <ul>
                                <li>
                                    <a href="/dt-anh-sabavn">Câu chuyện</a>
                                </li>
                                <li>
                                    <a href="/ngoai-hang-anh-sabavn">Tuyển dụng</a>
                                </li>
                                <li>
                                    <a href="/nhan-dinh-ngoai-hang-anh-sabavn">Sứ mệnh</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item ">
                            <a href="/ngoai-hang-anh-sabavn" class="item " title="Ngoại hạng Anh">Điểm chuẩn trường</a>
                        </li>
                        <li class="menu-item ">
                            <a href="https://www.sabavn.net/tag/game-fantasy" class="item " title="Game Fantasy">Tin tức</a>
                        </li>
                        <li class="menu-item contact-menu"><a class="item" href="/cup-nha-vua-tbn-sabavn">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

@* <div class="top-header">
    <div class="container padding-mobile-none">
        <div class="group-menu">
            <div class="nav-menu">
                <ul class="main-menu-pc">
                    <li class="menu-item hiden-icon-mobile">
                        <a href="/" class="item active"><i class="icon-home"></i></a>
                    </li>
                            <li class="menu-item hide">
                                <a href="/tin-the-thao-sabavn" class="item " title="Tin mới nhất">Tin mới nhất</a>
                            </li>
                            <li class="menu-item ">
                                <a href="/ngoai-hang-anh-sabavn" class="item " title="Ngoại hạng Anh">Ngoại hạng Anh</a>
                            </li>
                            <li class="menu-item ">
                                <a href="https://www.sabavn.net/tag/game-fantasy" class="item " title="Game Fantasy">Game Fantasy</a>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/bong-da-anh-sabavn" class="item " title="Anh">Anh</a>
            <ul>
                    <li>
                        <a href="/dt-anh-sabavn">Đội tuyển Anh</a>
                    </li>
                    <li>
                        <a href="/ngoai-hang-anh-sabavn">Ngoại hạng Anh</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-ngoai-hang-anh-sabavn">Nhận định Ngoại hạng Anh</a>
                    </li>
                    <li>
                        <a href="/fa-cup-sabavn">FA Cup</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-fa-cup-sabavn">Nhận định FA Cup</a>
                    </li>
                    <li>
                        <a href="/cup-lien-doan-anh-sabavn">League Cup</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-cup-lien-doan-anh-sabavn">Nhận định League Cup</a>
                    </li>
            </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/bong-da-tbn-sabavn" class="item " title="Tây Ban Nha">Tây Ban Nha</a>
            <ul>
                    <li>
                        <a href="/dt-tay-ban-nha-sabavn">Đội tuyển TBN</a>
                    </li>
                    <li>
                        <a href="/la-liga-sabavn">La Liga</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-la-liga-sabavn">Nhận định La Liga</a>
                    </li>
                    <li>
                        <a href="/cup-nha-vua-tbn-sabavn">Cúp nhà Vua TBN</a>
                    </li>
            </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/bong-da-viet-nam-sabavn" class="item " title="Việt Nam">Việt Nam</a>
            <ul>
                    <li>
                        <a href="/dt-viet-nam-sabavn">Đội tuyển Việt Nam</a>
                    </li>
                    <li>
                        <a href="/v-league-1-sabavn">V-League</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-v-league-sabavn">Nhận định V-League</a>
                    </li>
                    <li>
                        <a href="/cup-qg-viet-nam-sabavn">Cúp Quốc gia VN</a>
                    </li>
                    <li>
                        <a href="/dt-nu-viet-nam-sabavn">Đội tuyển nữ VN</a>
                    </li>
                    <li>
                        <a href="/u23-viet-nam-sabavn">U23 Việt Nam</a>
                    </li>
                    <li>
                        <a href="/futsal-viet-nam-sabavn">Futsal Việt Nam</a>
                    </li>
            </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/lich-thi-dau/bong-da" class="item " title="Livescore">Livescore</a>
            <ul>
                    <li>
                        <a href="/lich-thi-dau/bong-da/champions-league/11582/2023-08-29/11998/lich-thi-dau">LTĐ C1 Champions League</a>
                    </li>
                    <li>
                        <a href="/lich-thi-dau/bong-da/ngoai-hang-anh/11571/2023-08-29/11997/lich-thi-dau">LTĐ Ngoại hạng Anh</a>
                    </li>
                    <li>
                        <a href="/lich-thi-dau/bong-da/la-liga/11585/2023-08-29/11999/lich-thi-dau">LTĐ La Liga</a>
                    </li>
                    <li>
                        <a href="/lich-thi-dau/bong-da/serie-a/11666/2023-08-29/12001/lich-thi-dau">LTĐ Serie A</a>
                    </li>
                    <li>
                        <a href="/lich-thi-dau/bong-da/bundesliga/11627/2023-08-29/12000/lich-thi-dau">LTĐ Bundesliga</a>
                    </li>
                    <li>
                        <a href="/lich-thi-dau/bong-da/ligue-1/11617/2023-08-29/12002/lich-thi-dau">LTĐ Ligue 1</a>
                    </li>
                    <li>
                        <a href="/lich-thi-dau/bong-da/v-league-1/11319/2023-08-27/17486/lich-thi-dau">LTĐ V-League</a>
                    </li>
                    <li>
                        <a href="/lich-thi-dau/bong-da/europa-league/11771/2023-08-29/12036/lich-thi-dau">LTĐ C2 Europa League</a>
                    </li>
                    <li>
                        <a href="/lich-thi-dau/bong-da/tran-dau-quan-tam">Trận đấu quan tâm</a>
                    </li>
                    <li>
                        <a href="/lich-thi-dau/bong-da/giai-dau-quan-tam">Giải đấu của tôi</a>
                    </li>
            </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/nhan-dinh-bong-da-sabavn" class="item " title="Nhận định">Nhận định</a>
            <ul>
                    <li>
                        <a href="/nhan-dinh-c1-champions-league-sabavn">Cúp C1</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-ngoai-hang-anh-sabavn">Ngoại hạng Anh</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-la-liga-sabavn">La Liga</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-serie-a-sabavn">Serie A</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-bundesliga-sabavn">Bundesliga</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-ligue-1-sabavn">Ligue 1</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-v-league-sabavn">V-League</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-c2-europa-league-sabavn">Cúp C2</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-fa-cup-sabavn">FA Cup</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-cup-lien-doan-anh-sabavn">League Cup</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-world-cup-sabavn">World Cup</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-euro-sabavn">EURO</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-nations-league-sabavn">Nations League</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-aff-cup-sabavn">AFF Cup</a>
                    </li>
                    <li>
                        <a href="/nhan-dinh-sea-games-sabavn">SEA Games</a>
                    </li>
            </ul>
                            </li>
                            <li class="menu-item ">
                                <a href="/chuyen-nhuong-sabavn" class="item " title="Chuyển nhượng">Chuyển nhượng</a>
                            </li>
                            <li class="menu-item ">
                                <a href="/hau-truong-sabavn" class="item " title="Hậu trường">Hậu trường</a>
                            </li>
                    <li class="open-menu-popup">
                        <i class="icon-menu"></i>
                    </li>
                </ul>



                <div class="main-menu-mobile">
                        <ul>
                                    <li class="menu-item">
                                        <a href="/tag/diem-tin-bong-da-hom-nay" class="item" title="Tin nóng">Tin nóng</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/tag/ket-qua-bong-da-hom-nay" class="item" title="Kết quả">Kết quả</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/lich-thi-dau/bong-da/truc-tiep" class="item" title="Trực tiếp">Trực tiếp</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/hau-truong-sabavn" class="item" title="Hậu trường">Hậu trường</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="/chuyen-nhuong-sabavn" class="item" title="Chuyển nhượng">Chuyển nhượng</a>
                                    </li>
                                <li class="right-header-section search-input">
                                    <form action="/Search" method="post" id="search">
                                        <input class="keyword-input search-box" id="search-keyword" type="text" placeholder="Tìm kiếm...">
                                        <button type="submit" class="btn btn-search" aria-label="search">
                                            <i class="icon-search"></i>
                                        </button>
                                    </form>
                                </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/nhan-dinh-bong-da-sabavn" class="item">Nhận định</a>
                                    <ul>
                                            <li><a href="/nhan-dinh-c1-champions-league-sabavn" title="C1 Champions League">C1 Champions League</a></li>
                                            <li><a href="/nhan-dinh-ngoai-hang-anh-sabavn" title="Ngoại hạng Anh">Ngoại hạng Anh</a></li>
                                            <li><a href="/nhan-dinh-la-liga-sabavn" title="La Liga">La Liga</a></li>
                                            <li><a href="/nhan-dinh-serie-a-sabavn" title="Serie A">Serie A</a></li>
                                            <li><a href="/nhan-dinh-bundesliga-sabavn" title="Bundesliga">Bundesliga</a></li>
                                            <li><a href="/nhan-dinh-ligue-1-sabavn" title="Ligue 1">Ligue 1</a></li>
                                            <li><a href="/nhan-dinh-v-league-sabavn" title="V-League">V-League</a></li>
                                            <li><a href="/nhan-dinh-c2-europa-league-sabavn" title="C2 Europa League">C2 Europa League</a></li>
                                            <li><a href="/nhan-dinh-world-cup-sabavn" title="World Cup">World Cup</a></li>
                                            <li><a href="/nhan-dinh-euro-sabavn" title="EURO">EURO</a></li>
                                            <li><a href="/nhan-dinh-nations-league-sabavn" title="Nations League">Nations League</a></li>
                                            <li><a href="/nhan-dinh-cup-lien-doan-anh-sabavn" title="League Cup">League Cup</a></li>
                                            <li><a href="/nhan-dinh-fa-cup-sabavn" title="FA Cup">FA Cup</a></li>
                                            <li><a href="/nhan-dinh-aff-cup-sabavn" title="AFF Cup">AFF Cup</a></li>
                                            <li><a href="/nhan-dinh-sea-games-sabavn" title="SEA Games">SEA Games</a></li>
                                    </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/lich-thi-dau/bong-da" class="item">Livescore</a>
                                    <ul>
                                            <li><a href="/lich-thi-dau/bong-da/champions-league/11582/2023-08-29/11998/lich-thi-dau" title="LTĐ Cúp C1">LTĐ Cúp C1</a></li>
                                            <li><a href="/lich-thi-dau/bong-da/ngoai-hang-anh/11571/2023-08-29/11997/lich-thi-dau" title="LTĐ Ngoại hạng Anh">LTĐ Ngoại hạng Anh</a></li>
                                            <li><a href="/lich-thi-dau/bong-da/la-liga/11585/2023-08-29/11999/lich-thi-dau" title="LTĐ La Liga">LTĐ La Liga</a></li>
                                            <li><a href="/lich-thi-dau/bong-da/serie-a/11666/2023-08-29/12001/lich-thi-dau" title="LTĐ Serie A">LTĐ Serie A</a></li>
                                            <li><a href="/lich-thi-dau/bong-da/bundesliga/11627/2023-08-29/12000/lich-thi-dau" title="LTĐ Bundesliga">LTĐ Bundesliga</a></li>
                                            <li><a href="/lich-thi-dau/bong-da/ligue-1/11617/2023-08-29/12002/lich-thi-dau" title="LTĐ Ligue 1">LTĐ Ligue 1</a></li>
                                            <li><a href="/lich-thi-dau/bong-da/v-league-1/11319/2023-08-27/17486/lich-thi-dau" title="LTĐ V-League">LTĐ V-League</a></li>
                                            <li><a href="/lich-thi-dau/bong-da/europa-league/11771/2023-08-29/12036/lich-thi-dau" title="LTĐ Cúp C2">LTĐ Cúp C2</a></li>
                                            <li><a href="/lich-thi-dau/bong-da/tran-dau-quan-tam" title="Trận đấu quan tâm">Trận đấu quan tâm</a></li>
                                            <li><a href="/lich-thi-dau/bong-da/giai-dau-quan-tam" title="Giải đấu của tôi">Giải đấu của tôi</a></li>
                                    </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/bong-da-viet-nam-sabavn" class="item">Bóng đá Việt Nam</a>
                                    <ul>
                                            <li><a href="/dt-viet-nam-sabavn" title="ĐT Việt Nam">ĐT Việt Nam</a></li>
                                            <li><a href="/v-league-1-sabavn" title="V-League">V-League</a></li>
                                            <li><a href="/nhan-dinh-v-league-sabavn" title="Nhận định V-League">Nhận định V-League</a></li>
                                            <li><a href="/dt-nu-viet-nam-sabavn" title="ĐT nữ Việt Nam">ĐT nữ Việt Nam</a></li>
                                            <li><a href="/cup-qg-viet-nam-sabavn" title="Cúp Quốc gia Việt Nam">Cúp Quốc gia Việt Nam</a></li>
                                            <li><a href="/u23-viet-nam-sabavn" title="U23 Việt Nam">U23 Việt Nam</a></li>
                                            <li><a href="/futsal-viet-nam-sabavn" title="Futsal Việt Nam">Futsal Việt Nam</a></li>
                                    </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/bong-da-anh-sabavn" class="item">Bóng đá Anh</a>
                                    <ul>
                                            <li><a href="/dt-anh-sabavn" title="Đội tuyển Anh">Đội tuyển Anh</a></li>
                                            <li><a href="/ngoai-hang-anh-sabavn" title="Ngoại hạng Anh">Ngoại hạng Anh</a></li>
                                            <li><a href="/nhan-dinh-ngoai-hang-anh-sabavn" title="Nhận định NHA">Nhận định NHA</a></li>
                                            <li><a href="/fa-cup-sabavn" title="FA Cup">FA Cup</a></li>
                                            <li><a href="/nhan-dinh-fa-cup-sabavn" title="Nhận định FA Cup">Nhận định FA Cup</a></li>
                                            <li><a href="/cup-lien-doan-anh-sabavn" title="League Cup">League Cup</a></li>
                                            <li><a href="/nhan-dinh-cup-lien-doan-anh-sabavn" title="Nhận định League Cup">Nhận định League Cup</a></li>
                                    </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/bong-da-tbn-sabavn" class="item">Bóng đá TBN</a>
                                    <ul>
                                            <li><a href="/dt-tay-ban-nha-sabavn" title="Đội tuyển TBN">Đội tuyển TBN</a></li>
                                            <li><a href="/la-liga-sabavn" title="La Liga">La Liga</a></li>
                                            <li><a href="/nhan-dinh-la-liga-sabavn" title="Nhận định La Liga">Nhận định La Liga</a></li>
                                            <li><a href="/cup-nha-vua-tbn-sabavn" title="Cúp nhà Vua TBN">Cúp nhà Vua TBN</a></li>
                                    </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/bong-da-italia-sabavn" class="item">Bóng đá Italia</a>
                                    <ul>
                                            <li><a href="/dt-italia-sabavn" title="Đội tuyển Italia">Đội tuyển Italia</a></li>
                                            <li><a href="/serie-a-sabavn" title="Serie A">Serie A</a></li>
                                            <li><a href="/nhan-dinh-serie-a-sabavn" title="Nhận định Serie A">Nhận định Serie A</a></li>
                                            <li><a href="/coppa-italia-sabavn" title="Coppa Italia">Coppa Italia</a></li>
                                    </ul>
                            </li>
                                </ul><ul>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/bong-da-duc-sabavn" class="item">Bóng đá Đức</a>
                                    <ul>
                                            <li><a href="/dt-duc-sabavn" title="Đội tuyển Đức">Đội tuyển Đức</a></li>
                                            <li><a href="/bundesliga-sabavn" title="Bundesliga">Bundesliga</a></li>
                                            <li><a href="/nhan-dinh-bundesliga-sabavn" title="Nhận định Bundesliga">Nhận định Bundesliga</a></li>
                                            <li><a href="/cup-qg-duc-sabavn" title="Cúp Quốc gia Đức">Cúp Quốc gia Đức</a></li>
                                    </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/bong-da-phap-sabavn" class="item">Bóng đá Pháp</a>
                                    <ul>
                                            <li><a href="/dt-phap-sabavn" title="Đội tuyển Pháp">Đội tuyển Pháp</a></li>
                                            <li><a href="/ligue-1-sabavn" title="Ligue 1">Ligue 1</a></li>
                                            <li><a href="/nhan-dinh-ligue-1-sabavn" title="Nhận định Ligue 1">Nhận định Ligue 1</a></li>
                                            <li><a href="/cup-qg-phap-sabavn" title="Cúp Quốc gia Pháp">Cúp Quốc gia Pháp</a></li>
                                    </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/giai-dau-cap-clb-sabavn" class="item">Giải đấu cấp CLB</a>
                                    <ul>
                                            <li><a href="/c1-champions-league-sabavn" title="Champions League">Champions League</a></li>
                                            <li><a href="/nhan-dinh-c1-champions-league-sabavn" title="Nhận định Cúp C1">Nhận định Cúp C1</a></li>
                                            <li><a href="/c2-europa-league-sabavn" title="Europa League">Europa League</a></li>
                                            <li><a href="/nhan-dinh-c2-europa-league-sabavn" title="Nhận định Cúp C2">Nhận định Cúp C2</a></li>
                                            <li><a href="/c3-conference-league-sabavn" title="Conference League">Conference League</a></li>
                                    </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/doi-tuyen-sabavn" class="item">Đội tuyển</a>
                                    <ul>
                                            <li><a href="/world-cup-sabavn" title="World Cup">World Cup</a></li>
                                            <li><a href="/nhan-dinh-world-cup-sabavn" title="Nhận định World Cup">Nhận định World Cup</a></li>
                                            <li><a href="/euro-sabavn" title="Euro">Euro</a></li>
                                            <li><a href="/nhan-dinh-euro-sabavn" title="Nhận định EURO">Nhận định EURO</a></li>
                                            <li><a href="/nations-league-sabavn" title="Nations League">Nations League</a></li>
                                            <li><a href="/nhan-dinh-nations-league-sabavn" title="Nhận định Nations League">Nhận định Nations League</a></li>
                                            <li><a href="/copa-america-sabavn" title="Copa America 2024">Copa America 2024</a></li>
                                            <li><a href="/gold-cup-sabavn" title="Gold Cup">Gold Cup</a></li>
                                    </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/khu-vuc-sabavn" class="item">Khu vực</a>
                                    <ul>
                                            <li><a href="/u23-chau-a-sabavn" title="U23 châu Á">U23 châu Á</a></li>
                                            <li><a href="/aff-cup-sabavn" title="AFF Cup">AFF Cup</a></li>
                                            <li><a href="/nhan-dinh-aff-cup-sabavn" title="Nhận định AFF Cup">Nhận định AFF Cup</a></li>
                                            <li><a href="/asian-cup-sabavn" title="Asian Cup">Asian Cup</a></li>
                                            <li><a href="/sea-games-sabavn" title="SEA Games">SEA Games</a></li>
                                            <li><a href="/nhan-dinh-sea-games-sabavn" title="Nhận định SEA Games">Nhận định SEA Games</a></li>
                                    </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/the-thao-sabavn" class="item">Thể thao</a>
                                    <ul>
                                            <li><a href="/bong-ro-sabavn" title="Bóng rổ">Bóng rổ</a></li>
                                            <li><a href="/video-bong-ro-sabavn" title="Video bóng rổ">Video bóng rổ</a></li>
                                            <li><a href="/quan-vot-sabavn" title="Quần vợt">Quần vợt</a></li>
                                            <li><a href="/video-quan-vot-sabavn" title="Video quần vợt">Video quần vợt</a></li>
                                            <li><a href="/esports-sabavn" title="Esports">Esports</a></li>
                                    </ul>
                            </li>
                            <li class="menu-item has-sub"><span class="submenu-button"> <i class="icon-chevron-down"></i> </span>
                                <a href="/video-sabavn" class="item">Video</a>
                                    <ul>
                                            <li><a href="/video-bong-da-sabavn" title="Video bóng đá">Video bóng đá</a></li>
                                            <li><a href="/video-bong-ro-sabavn" title="Video bóng rổ">Video bóng rổ</a></li>
                                            <li><a href="/video-quan-vot-sabavn" title="Video quần vợt">Video quần vợt</a></li>
                                    </ul>
                            </li>
                        </ul>
                </div>

                <div class="keywork">
                    <div class="keywork-title">Từ khóa phổ biến</div>
                    <ul class="keywork-list">
                                <li><a href="/ngoai-hang-anh-sabavn">Ngoại hạng Anh 23/24</a></li>
                                <li><a href="/nhan-dinh-ngoai-hang-anh-sabavn">Nhận định NHA</a></li>
                                <li><a href="/tag/nguoi-dep-the-thao">Người đẹp</a></li>
                                <li><a href="/tag/man-united">Man United</a></li>
                                <li><a href="/bong-da-viet-nam-sabavn">Việt Nam</a></li>
                                <li><a href="/tag/lionel-messi">Messi</a></li>
                                <li><a href="/tag/cristiano-ronaldo/">Ronaldo</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="menu-popup hide-popup">
            <div class="group-column-popup">
                <ul class="menu-popup-header">
                    <li class="all-category">Tất cả chuyên mục</li>
                    <li class="close-popup"><i class="icon-close"></i></li>
                </ul>
                <div class="menu-popup-content">
                    <div class="content-menu">
                        <div class="block-menu">
                                        </div><div class="block-menu">
                                         <div class="block-menu-item">
                                            <ul class="block-menu-list">
                                                    <div class="block-menu-title"><a href="/tag/diem-tin-bong-da-hom-nay" title="Tin nóng">Tin nóng</a></div>
                                                    <div class="block-menu-title"><a href="/tag/ket-qua-bong-da-hom-nay" title="Kết quả">Kết quả</a></div>
                                                    <div class="block-menu-title"><a href="/lich-thi-dau/bong-da/truc-tiep" title="Trực tiếp">Trực tiếp</a></div>
                                                    <div class="block-menu-title"><a href="/hau-truong-sabavn" title="Hậu trường">Hậu trường</a></div>
                                                    <div class="block-menu-title"><a href="/chuyen-nhuong-sabavn" title="Chuyển nhượng">Chuyển nhượng</a></div>
                                            </ul>
                                        </div>
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/nhan-dinh-bong-da-sabavn" title="Nhận định">Nhận định</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/nhan-dinh-c1-champions-league-sabavn" title="C1 Champions League">C1 Champions League</a></li>
                                                <li><a href="/nhan-dinh-ngoai-hang-anh-sabavn" title="Ngoại hạng Anh">Ngoại hạng Anh</a></li>
                                                <li><a href="/nhan-dinh-la-liga-sabavn" title="La Liga">La Liga</a></li>
                                                <li><a href="/nhan-dinh-serie-a-sabavn" title="Serie A">Serie A</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-bundesliga-sabavn" title="Bundesliga">Bundesliga</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-ligue-1-sabavn" title="Ligue 1">Ligue 1</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-v-league-sabavn" title="V-League">V-League</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-c2-europa-league-sabavn" title="C2 Europa League">C2 Europa League</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-world-cup-sabavn" title="World Cup">World Cup</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-euro-sabavn" title="EURO">EURO</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-nations-league-sabavn" title="Nations League">Nations League</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-cup-lien-doan-anh-sabavn" title="League Cup">League Cup</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-fa-cup-sabavn" title="FA Cup">FA Cup</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-aff-cup-sabavn" title="AFF Cup">AFF Cup</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-sea-games-sabavn" title="SEA Games">SEA Games</a></li>
                                        <li class="more">Xem thêm</li></ul>
                                    </div>
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/lich-thi-dau/bong-da" title="Livescore">Livescore</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/lich-thi-dau/bong-da/champions-league/11582/2023-08-29/11998/lich-thi-dau" title="LTĐ Cúp C1">LTĐ Cúp C1</a></li>
                                                <li><a href="/lich-thi-dau/bong-da/ngoai-hang-anh/11571/2023-08-29/11997/lich-thi-dau" title="LTĐ Ngoại hạng Anh">LTĐ Ngoại hạng Anh</a></li>
                                                <li><a href="/lich-thi-dau/bong-da/la-liga/11585/2023-08-29/11999/lich-thi-dau" title="LTĐ La Liga">LTĐ La Liga</a></li>
                                                <li><a href="/lich-thi-dau/bong-da/serie-a/11666/2023-08-29/12001/lich-thi-dau" title="LTĐ Serie A">LTĐ Serie A</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/lich-thi-dau/bong-da/bundesliga/11627/2023-08-29/12000/lich-thi-dau" title="LTĐ Bundesliga">LTĐ Bundesliga</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/lich-thi-dau/bong-da/ligue-1/11617/2023-08-29/12002/lich-thi-dau" title="LTĐ Ligue 1">LTĐ Ligue 1</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/lich-thi-dau/bong-da/v-league-1/11319/2023-08-27/17486/lich-thi-dau" title="LTĐ V-League">LTĐ V-League</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/lich-thi-dau/bong-da/europa-league/11771/2023-08-29/12036/lich-thi-dau" title="LTĐ Cúp C2">LTĐ Cúp C2</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/lich-thi-dau/bong-da/tran-dau-quan-tam" title="Trận đấu quan tâm">Trận đấu quan tâm</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/lich-thi-dau/bong-da/giai-dau-quan-tam" title="Giải đấu của tôi">Giải đấu của tôi</a></li>
                                        <li class="more">Xem thêm</li></ul>
                                    </div>
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/bong-da-viet-nam-sabavn" title="Bóng đá Việt Nam">Bóng đá Việt Nam</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/dt-viet-nam-sabavn" title="ĐT Việt Nam">ĐT Việt Nam</a></li>
                                                <li><a href="/v-league-1-sabavn" title="V-League">V-League</a></li>
                                                <li><a href="/nhan-dinh-v-league-sabavn" title="Nhận định V-League">Nhận định V-League</a></li>
                                                <li><a href="/dt-nu-viet-nam-sabavn" title="ĐT nữ Việt Nam">ĐT nữ Việt Nam</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/cup-qg-viet-nam-sabavn" title="Cúp Quốc gia Việt Nam">Cúp Quốc gia Việt Nam</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/u23-viet-nam-sabavn" title="U23 Việt Nam">U23 Việt Nam</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/futsal-viet-nam-sabavn" title="Futsal Việt Nam">Futsal Việt Nam</a></li>
                                        <li class="more">Xem thêm</li></ul>
                                    </div>
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/bong-da-anh-sabavn" title="Bóng đá Anh">Bóng đá Anh</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/dt-anh-sabavn" title="Đội tuyển Anh">Đội tuyển Anh</a></li>
                                                <li><a href="/ngoai-hang-anh-sabavn" title="Ngoại hạng Anh">Ngoại hạng Anh</a></li>
                                                <li><a href="/nhan-dinh-ngoai-hang-anh-sabavn" title="Nhận định NHA">Nhận định NHA</a></li>
                                                <li><a href="/fa-cup-sabavn" title="FA Cup">FA Cup</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-fa-cup-sabavn" title="Nhận định FA Cup">Nhận định FA Cup</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/cup-lien-doan-anh-sabavn" title="League Cup">League Cup</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-cup-lien-doan-anh-sabavn" title="Nhận định League Cup">Nhận định League Cup</a></li>
                                        <li class="more">Xem thêm</li></ul>
                                    </div>
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/bong-da-tbn-sabavn" title="Bóng đá TBN">Bóng đá TBN</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/dt-tay-ban-nha-sabavn" title="Đội tuyển TBN">Đội tuyển TBN</a></li>
                                                <li><a href="/la-liga-sabavn" title="La Liga">La Liga</a></li>
                                                <li><a href="/nhan-dinh-la-liga-sabavn" title="Nhận định La Liga">Nhận định La Liga</a></li>
                                                <li><a href="/cup-nha-vua-tbn-sabavn" title="Cúp nhà Vua TBN">Cúp nhà Vua TBN</a></li>
                                        </ul>
                                    </div>
                                        </div><div class="block-menu">
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/bong-da-italia-sabavn" title="Bóng đá Italia">Bóng đá Italia</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/dt-italia-sabavn" title="Đội tuyển Italia">Đội tuyển Italia</a></li>
                                                <li><a href="/serie-a-sabavn" title="Serie A">Serie A</a></li>
                                                <li><a href="/nhan-dinh-serie-a-sabavn" title="Nhận định Serie A">Nhận định Serie A</a></li>
                                                <li><a href="/coppa-italia-sabavn" title="Coppa Italia">Coppa Italia</a></li>
                                        </ul>
                                    </div>
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/bong-da-duc-sabavn" title="Bóng đá Đức">Bóng đá Đức</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/dt-duc-sabavn" title="Đội tuyển Đức">Đội tuyển Đức</a></li>
                                                <li><a href="/bundesliga-sabavn" title="Bundesliga">Bundesliga</a></li>
                                                <li><a href="/nhan-dinh-bundesliga-sabavn" title="Nhận định Bundesliga">Nhận định Bundesliga</a></li>
                                                <li><a href="/cup-qg-duc-sabavn" title="Cúp Quốc gia Đức">Cúp Quốc gia Đức</a></li>
                                        </ul>
                                    </div>
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/bong-da-phap-sabavn" title="Bóng đá Pháp">Bóng đá Pháp</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/dt-phap-sabavn" title="Đội tuyển Pháp">Đội tuyển Pháp</a></li>
                                                <li><a href="/ligue-1-sabavn" title="Ligue 1">Ligue 1</a></li>
                                                <li><a href="/nhan-dinh-ligue-1-sabavn" title="Nhận định Ligue 1">Nhận định Ligue 1</a></li>
                                                <li><a href="/cup-qg-phap-sabavn" title="Cúp Quốc gia Pháp">Cúp Quốc gia Pháp</a></li>
                                        </ul>
                                    </div>
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/giai-dau-cap-clb-sabavn" title="Giải đấu cấp CLB">Giải đấu cấp CLB</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/c1-champions-league-sabavn" title="Champions League">Champions League</a></li>
                                                <li><a href="/nhan-dinh-c1-champions-league-sabavn" title="Nhận định Cúp C1">Nhận định Cúp C1</a></li>
                                                <li><a href="/c2-europa-league-sabavn" title="Europa League">Europa League</a></li>
                                                <li><a href="/nhan-dinh-c2-europa-league-sabavn" title="Nhận định Cúp C2">Nhận định Cúp C2</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/c3-conference-league-sabavn" title="Conference League">Conference League</a></li>
                                        <li class="more">Xem thêm</li></ul>
                                    </div>
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/doi-tuyen-sabavn" title="Đội tuyển">Đội tuyển</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/world-cup-sabavn" title="World Cup">World Cup</a></li>
                                                <li><a href="/nhan-dinh-world-cup-sabavn" title="Nhận định World Cup">Nhận định World Cup</a></li>
                                                <li><a href="/euro-sabavn" title="Euro">Euro</a></li>
                                                <li><a href="/nhan-dinh-euro-sabavn" title="Nhận định EURO">Nhận định EURO</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nations-league-sabavn" title="Nations League">Nations League</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-nations-league-sabavn" title="Nhận định Nations League">Nhận định Nations League</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/copa-america-sabavn" title="Copa America 2024">Copa America 2024</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/gold-cup-sabavn" title="Gold Cup">Gold Cup</a></li>
                                        <li class="more">Xem thêm</li></ul>
                                    </div>
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/khu-vuc-sabavn" title="Khu vực">Khu vực</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/u23-chau-a-sabavn" title="U23 châu Á">U23 châu Á</a></li>
                                                <li><a href="/aff-cup-sabavn" title="AFF Cup">AFF Cup</a></li>
                                                <li><a href="/nhan-dinh-aff-cup-sabavn" title="Nhận định AFF Cup">Nhận định AFF Cup</a></li>
                                                <li><a href="/asian-cup-sabavn" title="Asian Cup">Asian Cup</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/sea-games-sabavn" title="SEA Games">SEA Games</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/nhan-dinh-sea-games-sabavn" title="Nhận định SEA Games">Nhận định SEA Games</a></li>
                                        <li class="more">Xem thêm</li></ul>
                                    </div>
                                        </div><div class="block-menu">
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/the-thao-sabavn" title="Thể thao">Thể thao</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/bong-ro-sabavn" title="Bóng rổ">Bóng rổ</a></li>
                                                <li><a href="/video-bong-ro-sabavn" title="Video bóng rổ">Video bóng rổ</a></li>
                                                <li><a href="/quan-vot-sabavn" title="Quần vợt">Quần vợt</a></li>
                                                <li><a href="/video-quan-vot-sabavn" title="Video quần vợt">Video quần vợt</a></li>
                                                <li class="toggleable" style="display: none;"><a href="/esports-sabavn" title="Esports">Esports</a></li>
                                        <li class="more">Xem thêm</li></ul>
                                    </div>
                                    <div class="block-menu-item">
                                        <div class="block-menu-title"><a href="/video-sabavn" title="Video">Video</a></div>
                                        <ul class="block-menu-list">
                                                <li><a href="/video-bong-da-sabavn" title="Video bóng đá">Video bóng đá</a></li>
                                                <li><a href="/video-bong-ro-sabavn" title="Video bóng rổ">Video bóng rổ</a></li>
                                                <li><a href="/video-quan-vot-sabavn" title="Video quần vợt">Video quần vợt</a></li>
                                        </ul>
                                    </div>
                        </div>
                    </div>
                    <div class="slide-bar-menu">
                        <div class="box-slidebar">
                            <div class="box-slidebar-title">Từ khóa phổ biến</div>
                            <ul class="box-slidebar-list">
                                        <li><a href="/ngoai-hang-anh-sabavn">Ngoại hạng Anh 23/24</a></li>
                                        <li><a href="/nhan-dinh-ngoai-hang-anh-sabavn">Nhận định NHA</a></li>
                                        <li><a href="/tag/nguoi-dep-the-thao">Người đẹp</a></li>
                                        <li><a href="/tag/man-united">Man United</a></li>
                                        <li><a href="/bong-da-viet-nam-sabavn">Việt Nam</a></li>
                                        <li><a href="/tag/lionel-messi">Messi</a></li>
                                        <li><a href="/tag/cristiano-ronaldo/">Ronaldo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> *@

@* Mobile header menu *@
<div class="child-mobile-menu">
    <ul class="main-child-menu  ">
        <li class="menu-item">
            <a href="/" class="item active"><i class="icon-home"></i></a>
        </li>
                    <li class="menu-item">
                        <a href="/tin-the-thao-sabavn" class="item ">Tin mới nhất</a>
                    </li>
                    <li class="menu-item">
                        <a href="/ngoai-hang-anh-sabavn" class="item ">Ngoại hạng Anh</a>
                    </li>
                    <li class="menu-item">
                        <a href="https://www.sabavn.net/tag/game-fantasy" class="item ">Game Fantasy</a>
                    </li>
                    <li class="menu-item">
                        <a href="/bong-da-anh-sabavn" class="item ">Anh</a>
                    </li>
                    <li class="menu-item">
                        <a href="/bong-da-tbn-sabavn" class="item ">Tây Ban Nha</a>
                    </li>
                    <li class="menu-item">
                        <a href="/bong-da-viet-nam-sabavn" class="item ">Việt Nam</a>
                    </li>
                    <li class="menu-item">
                        <a href="/lich-thi-dau/bong-da" class="item ">Livescore</a>
                    </li>
                    <li class="menu-item">
                        <a href="/nhan-dinh-bong-da-sabavn" class="item ">Nhận định</a>
                    </li>
                    <li class="menu-item">
                        <a href="/chuyen-nhuong-sabavn" class="item ">Chuyển nhượng</a>
                    </li>
                    <li class="menu-item">
                        <a href="/hau-truong-sabavn" class="item ">Hậu trường</a>
                    </li>

    </ul>
        <span class="icon-arrow scroll-mobile-menu"></span>
</div>
@* End Mobile header menu *@

