@section Schema {
    <script type="application/ld+json">
    [
        {
            "@@context": "https://schema.org",
            "@@type": "Organization",
            "name": "SABA Sports",
            "url": "https://www.sabavn.net/",
            "logo": "https://www.sabavn.net/images/sabasports.svg",
            "description": "SABAVN.net cung cấp tin tức bóng đá và thông tin thể thao, bao gồm cập nhật trực tiếp, nhận định, video nổi bật, và thông tin hậu trường từ thế giới bóng đá và các môn thể thao khác.",
            "sameAs": [
                "https://www.facebook.com/sabasportsvietnam",
                "https://www.tiktok.com/@@sabasportsvietnam",
                "https://www.youtube.com/SABASportsVietnam",
                "https://sites.google.com/view/sabavn/"
            ],
            "subjectOf": [
                {
                    "@@type": "WebPage",
                    "url": "https://www.sabavn.net/c1-champions-league-sabavn",
                    "name": "Champions League"
                },
                {
                    "@@type": "WebPage",
                    "url": "https://www.sabavn.net/bong-da-anh-sabavn",
                    "name": "Bóng đá Anh"
                },
                {
                    "@@type": "WebPage",
                    "url": "https://www.sabavn.net/bong-da-viet-nam-sabavn",
                    "name": "Bóng đá Việt Nam"
                },
                {
                    "@@type": "WebPage",
                    "url": "https://www.sabavn.net/nhan-dinh-bong-da-sabavn",
                    "name": "Nhận định bóng đá"
                },
                {
                    "@@type": "WebPage",
                    "url": "https://www.sabavn.net/lich-thi-dau/bong-da",
                    "name": "Lịch thi đấu bóng đá, Trực tiếp bóng đá"
                },
                {
                    "@@type": "WebPage",
                    "url": "https://www.sabavn.net/hau-truong-sabavn",
                    "name": "Hậu trường thể thao"
                },
                {
                    "@@type": "WebPage",
                    "url": "https://www.sabavn.net/chuyen-nhuong-sabavn",
                    "name": "Tin tức chuyển nhượng"
                },
                {
                    "@@type": "WebPage",
                    "url": "https://www.sabavn.net/bong-da-tbn-sabavn",
                    "name": "Bóng đá Tây Ban Nha"
                },
                {
                    "@@type": "WebPage",
                    "url": "https://www.sabavn.net/bong-ro-sabavn",
                    "name": "Bóng rổ"
                },
                {
                    "@@type": "WebPage",
                    "url": "https://www.sabavn.net/euro-sabavn",
                    "name": "Euro 2024"
                }
            ]
        },

        {
            "@@context": "https://schema.org",
            "@@type": "LocalBusiness",
            "name": "SABA Sports",
            "@@id": "https://www.sabavn.net/",
            "url": "https://www.sabavn.net/",
            "logo": "https://www.sabavn.net/images/sabasports.svg",
            "image": "https://www.sabavn.net/images/sabasports.svg",
            "description": "SABAVN.net - Tin tức bóng đá và thể thao mới nhất trên SABA Sports. Xem LTĐ, BXH các giải bóng đá hấp dẫn nhất hành tinh. Tin nóng bóng đá, thể thao 24/7",
            "telephone": "0916328916",
            "address": {
                "@@type": "PostalAddress",
                "streetAddress": "Số 20, Bầu Cát 6, Phường 14",
                "addressLocality": "Tân Bình",
                "addressRegion": "Thành phố Hồ Chí Minh",
                "postalCode": "700000",
                "addressCountry": "VN"
            },
            "openingHoursSpecification": {
                "@@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday",
                    "Saturday",
                    "Sunday"
                ],
                "opens": "00:00",
                "closes": "23:59"
            }
        }
    ]
    </script>
}

@section Metadata {
    <meta name="robots" content="index,follow,noarchive,max-image-preview:large" />
    <meta name="description" content='Home description' />
    <link rel="canonical" href="url" />
    <link rel="alternate" href="Url" hreflang="vi-vn" />
    <link rel="alternate" type="application/rss+xml" href="RSSUrl" title='Title' />
}


@section Title{
	Home
}


@section Styles {
    <link rel="stylesheet" media="all" href="~/css/vendor/icomoon/style.css" asp-append-version="true">
    <link rel="preload stylesheet" media="all" href="~/css/pages/home.css" asp-append-version="true">
}
@section Scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
} 

@(await Component.InvokeAsync("Header", new { page = "home-page", CategorySlug = "/" }))
<div class="search-background">
    <div class="text-wrapper">
        <div class="text-bottom">
            <div class="sub-title">Tất cả mọi ngành học tại Việt Nam</div>
            <div class="main-title">Tra cứu chương trình học</div>
        </div>
    </div>

    <div class="home-wrapper">
        <form method="get" action="" class="Form home-search" id="SearchHome">
            <input type="text" value="" name="discipline" class="search-box" placeholder="Search" autocomplete="off" > 
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</div>

<section class="main">
    <div class="container">
        <div class="block block-first">
            <div class="block_title">Tra cứu ngành học</div>
            <ul class="discipline">
                <li class="discipline-item">
                    <a href=""><i class="lnr-tree DisciplineIcons"></i> Agriculture & Forestry</a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-microscope DisciplineIcons"></i> Appplied Sciences & Profressions</a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-magic-wand DisciplineIcons"></i> Arts, Design & Architecture</a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-briefcase DisciplineIcons"></i> Business & Management </a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-cli DisciplineIcons"></i> Computer Science & IT </a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-book2  DisciplineIcons"></i> Education & Training </a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-rulers  DisciplineIcons"></i> Engineering & Technology </a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-earth DisciplineIcons"></i> Environmental Studies & Earth Sciences </a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-boat DisciplineIcons"></i> Hospitality, Leisure & Sports </a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-pen2 DisciplineIcons"></i> Humanities </a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-camera  DisciplineIcons"></i> Journalism & Media </a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-balance DisciplineIcons"></i> Law </a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-first-aid DisciplineIcons"></i> Medicine & Health </a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-beaker DisciplineIcons"></i> Natural Sciences & Mathematics </a>
                </li>
                <li class="discipline-item">
                    <a href=""><i class="lnr-bubbles  DisciplineIcons"></i> Social Sciences </a>
                </li>
            </ul>
         </div>

         <div class="block">
            <div class="block_title">Bài viết thú vị</div>
         </div>
    </div>
</section