@import './_variables.scss';
textarea, input[type]:not([type=number]):not([type=button]):not([type=search]) {
    outline: none;

    &::placeholder {
        color: $color-input;

        @include tableMobile {
            font-size: 1.6rem;
        }
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: #fff;
    }
}