/*:root {
    --column : 12;
    --padding-col : 0 1.5rem;
}*/
$fontBase: 300 13px Arial, sans-serif;
$font-family: Open Sans, sans-serif;
$color-calendar: #797e87;
$color-date-post: #8a8a8a;
$color-border: #2C3340;
$color-pagination: #081224;
$color-pagination-2: #294579;
$border-heading: #BDBDBD;
$color-000: #000;
$bg-block: #223453;
$bg-back-top: rgba(0, 0, 0, .5);
$bg-nav: #FFFDF9;
$color-active: #EB5342;
$color-nav: #848992;
$color-input: #828282;
$color-title: #EB5342;
$border-calendar: #E0E0E0;
$color-text: #333;
$block-highlight-bgcolor: #E8EAEF;
$color-fff: #fff;
$color-content: #222;
$font-title: Open Sans, sans-serif;
$font-body: Open Sans, sans-serif;

$color-main-title: #F12F19;

$font-size-title: 1.6rem;
$color-title: #222;
$color-title-hover: #EB5342;

$font-size-datetime: 1.2rem;
$color-datetime: #828282;
$padding-main: 1.6rem;
$column-gap: 1.6rem;
$section-gap: 5.4rem;
$column-gap-tablet: 1.6rem;
$column-gap-mobile: 1.2rem;
$separator-color: #e5e5e5;

$text-social: #454545;
$border-social: #BEBEBE;
$bookmark: #2B89CC;
$comment: #E13C29;
$facebook: #3B5999;
$link-icon: #076DB6;


$bg-header-admin: #1F2252;
$bg-nav-admin: #0F123F;
$color-icon: #9193B8;
$border-table: #D7D7D7;
$bg-table: #FBFBFB
