@{
    ViewData["Title"] = "Admin Page";
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/dev/pages/admin/index.chunk.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/pro/pages/admin/index.chunk.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/dev/main.chunk.css" />
     </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/pro/main.chunk.css" asp-append-version="true" />
    </environment>
}
@section Scripts {
    <environment include="Development">
        <script src="~/js/dev/pages/admin/index.chunk.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/pro/pages/admin/index.chunk.js" asp-append-version="true"></script>
    </environment>
}

<input type="hidden" id="RootUrl" value="@Url.Content("~/")" />
<div id="admin-app-container"></div>