@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../base/base';

@import '../layout/footer';
@import '../layout/header';
@import '../components/container';
// @import '../components/fonts';
@import '../components/block';
// @import '../components/img';
// @import '../components/buttons';
// @import '../components/swipper';

// @import '../components/list-content';

// @import '../components/_card-horizontal';
@import '../components/card-vertical';
// @import '../components/lazyload';
// @import '../components/ads';
// @import '../components/_popup-event';
// @import '../components/scroll-snap';
// @import '../components/poll';


.discipline {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
    padding: .25em 0 0;

    .discipline-item {
        width: 20%;
        background: #EDF3F6;
        border: 1px solid #FFFFFF;
        padding: 1.6rem;
        @include tableMobile {
            width: 50%;;
        }

        &:hover {
            background-color: #247ba0;
            a {
                color: #ffffff;
            }
        }

        a {
            color: #05293c;
            display: block;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2.4rem;
            transition: none !important;
            text-align: center;
            text-decoration: none;
        }

    }

    .DisciplineIcons {
        display: block;
        font-size: 2.5em;
        padding: .5em;
    }
}

.block-artile {
    display: grid;
    grid-template-rows: unset;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.4rem;
    grid-column: 1 / 4;
}

.block-social-article {
    display: grid;
    grid-template-rows: unset;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2.4rem;
    grid-column: 1 / 4;
}

.block-interest {
    .block_title {
        margin-bottom: 2.4rem;
    }
    
}

.block-paging {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
    .paging {
        display: flex;
        .page {
            border: none;
            box-sizing: border-box;
            color: #9ca0ac;
            cursor: pointer;
            display: flex;
            float: none;
            font-weight: 600;
            justify-content: center;
            line-height: 2.4rem;
            margin: 10px;
            padding: 10px;
            width: 44px;
            height: 44px;
            &.active {
                background-color: #247BA0;
                color: #ffffff;
            }
        }
    }
}