/*:root {
    --column : 12;
    --padding-col : 0 1.5rem;
}*/
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
  font-family: Open Sans, sans-serif;
  color: #222;
  line-height: 2.2rem;
  background-color: #FFFDF9;
}

.img-res {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  margin: 0;
}

.hidden-body, .overflow-modal {
  overflow: hidden;
}

.hidden-body {
  position: fixed;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .hidden-body main {
    overflow: hidden;
  }
}

#app-container {
  padding-top: 2rem;
}
@media screen and (max-width: 1024px) {
  #app-container {
    padding-top: 1rem;
    position: relative;
  }
}

.start-active:before {
  color: #EF9123;
}

.icon-livescore {
  font-size: 2rem;
}
@media screen and (max-width: 1024px) {
  .icon-livescore {
    font-size: 1.8rem;
  }
}

.font-weight-bold {
  font-weight: bold;
}

.livescore-soccer {
  display: grid;
  grid-template-columns: 69% 31%;
  grid-template-rows: unset;
  grid-gap: 0;
  align-items: start;
}
@media screen and (max-width: 1024px) {
  .livescore-soccer {
    grid-template-columns: 100%;
  }
}
@media (max-width: 767px) {
  .livescore-soccer {
    display: inherit;
  }
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

/*:root {
    --column : 12;
    --padding-col : 0 1.5rem;
}*/
.footer {
  background: #161616;
  padding: 3.2rem 0 2rem;
  position: relative;
  margin-top: auto;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 0 2rem;
  }
}
.footer .container {
  max-width: 120rem;
}
@media (max-width: 767px) {
  .footer .container {
    padding: 0;
  }
}
.footer .footer-item {
  display: flex;
  justify-content: space-between;
}
.footer .footer-item .footer-item-first-block {
  width: 30%;
}
.footer .footer-item .footer-item-second-block {
  width: 10%;
}
.footer .footer-item .footer-item-third-block {
  width: 30%;
}
.footer .footer-item .heading-footer-list {
  margin-bottom: 2.4rem;
}
.footer .footer-item .heading-footer-list a {
  font-size: 1.8rem;
  font-weight: 500px;
  text-decoration: none;
  color: #6D6D6D;
  line-height: 2.4rem;
}
.footer .footer-item .footer-item-block {
  margin-bottom: 1.2rem;
  border-right: 1px solid #676767;
}
.footer .footer-item .footer-item-block:last-child {
  border-right: none;
}
@media (max-width: 767px) {
  .footer .footer-item .footer-item-block {
    border-right: none;
    border-bottom: 1px solid #676767;
    padding-bottom: 1.2rem;
  }
}
.footer .footer-item .footer-item-block .heading-footer-list {
  line-height: 1;
  margin-bottom: 1rem;
  width: 13rem;
}
.footer .footer-item .footer-item-block .heading-footer-list:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .footer .footer-item .footer-item-block .heading-footer-list:last-child {
    margin-bottom: 1rem;
  }
}
.footer .footer-item .footer-item-block .heading-footer-list a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}
.footer .footer-item .footer-item-block ul {
  list-style: none;
  padding-left: 0;
  margin-top: 1.2rem;
}
.footer .footer-item .footer-item-block ul li {
  margin-bottom: 1rem;
}
.footer .footer-item .footer-item-block ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
@media (max-width: 767px) {
  .footer .footer-item .footer-item-block:last-child {
    padding-bottom: 0;
  }
}
.footer .footer-item:last-child {
  border-right: none;
}
.footer .footer-item:last-child .footer-item-block:last-child {
  border-bottom: none;
}
.footer .footer-logo {
  margin: 0 0 1rem 0;
  width: 120px;
}
@media (max-width: 767px) {
  .footer .footer-logo {
    margin-bottom: 1.2rem;
  }
}
.footer .footer-logo a {
  display: block;
  width: 11.6rem;
}
@media (max-width: 767px) {
  .footer .footer-logo a {
    width: 8.8rem;
  }
}
.footer .footer-logo a img {
  display: block;
}
.footer .text-follow {
  font-weight: 600;
  font-size: 1.8rem;
  color: #6D6D6D;
  margin-bottom: 2.4rem;
}
@media (max-width: 767px) {
  .footer .text-follow {
    padding-top: 1.2rem;
    margin-bottom: 1rem;
    border-top: 1px solid #676767;
  }
}
.footer .contact p {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #505050;
}
.footer .follow {
  display: inline-flex;
}
.footer .follow a {
  text-decoration: none;
  font-size: 2.4rem;
  margin-right: 1.6rem;
  color: #fff;
}
@media (max-width: 767px) {
  .footer .follow a {
    font-size: 3.2rem;
  }
}
.footer .follow a:last-child {
  margin-right: 0;
}
.footer .footer-info {
  display: flex;
  align-items: flex-start;
  color: #fff;
  padding-top: 2rem;
  margin-top: 4rem;
  border-top: 1px dashed #676767;
}
@media screen and (max-width: 1024px) {
  .footer .footer-info {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .footer .footer-info {
    padding: 1.2rem 0;
    margin: 0 1.2rem;
    border-top: none;
  }
}
.footer .footer-info .footer-info-main {
  width: 100%;
}
.footer .footer-info .footer-info-main .copy-right {
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
@media (max-width: 767px) {
  .footer .footer-info .footer-info-main .copy-right {
    flex-wrap: wrap;
    margin-bottom: 1.2rem;
  }
}
.footer .footer-info .footer-info-main .copy-right .copy-right-info {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-right: 2.4rem;
  align-items: center;
  color: #6D6D6D;
}
@media (max-width: 767px) {
  .footer .footer-info .footer-info-main .copy-right .copy-right-info {
    flex-wrap: wrap;
  }
}
.footer .ex {
  display: inline-block;
  position: relative;
  top: 3px;
  left: 3px;
}
@media (max-width: 767px) {
  .footer .ex {
    left: 0;
  }
}
.footer .back-to-top-box {
  position: fixed;
  z-index: 99;
  bottom: 3.5rem;
  right: 3.5rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  width: 6rem;
  height: 6rem;
}
@media (max-width: 767px) {
  .footer .back-to-top-box {
    display: none;
  }
}
.footer .back-to-top-box .back-to-top {
  border: 1px solid #bebebe;
  font-size: 1.6rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.footer .back-to-top-box .back-to-top:hover {
  background-color: #F2EFE9;
}
.footer .back-to-top-box .icon-chevron-right {
  font-size: 2.4rem;
  transform: rotate(270deg);
  font-weight: bold;
}
.footer .back-to-top-box .icon-chevron-right::before {
  color: #9F9F9F;
}
@media screen and (max-width: 1024px) {
  .footer .back-to-top-box .icon-chevron-right {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .footer .back-to-top-box {
    right: 0.4rem;
    bottom: 6rem;
  }
}

.show-pc {
  display: block;
}
@media (max-width: 767px) {
  .show-pc {
    display: none;
  }
}

.show-mb {
  display: none !important;
}
@media (max-width: 767px) {
  .show-mb {
    display: block !important;
  }
}

/*:root {
    --column : 12;
    --padding-col : 0 1.5rem;
}*/
textarea, input[type]:not([type=number]):not([type=button]):not([type=search]) {
  outline: none;
}
textarea::placeholder, input[type]:not([type=number]):not([type=button]):not([type=search])::placeholder {
  color: #828282;
}
@media screen and (max-width: 1024px) {
  textarea::placeholder, input[type]:not([type=number]):not([type=button]):not([type=search])::placeholder {
    font-size: 1.6rem;
  }
}
textarea:-ms-input-placeholder, input[type]:not([type=number]):not([type=button]):not([type=search]):-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}
textarea::-ms-input-placeholder, input[type]:not([type=number]):not([type=button]):not([type=search])::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

/*:root {
    --column : 12;
    --padding-col : 0 1.5rem;
}*/
.logo {
  width: 12rem;
}
.logo a {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .logo {
    position: absolute;
    height: 5.3rem;
    left: 50%;
    margin-left: -6rem;
  }
}

.header {
  background-color: #FFFDF9;
}
@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
.header .header-controls {
  padding: 0.8rem 0;
  border-bottom: 1px solid #e5e5e5;
}
@media screen and (max-width: 1024px) {
  .header .header-controls {
    border-bottom: none;
    height: 7rem;
    width: 100%;
  }
}
.header .header-controls .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .header .header-controls .container {
    position: relative;
  }
}
.header .header-controls .search-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 342px;
  height: 40px;
  border-radius: 4px;
  position: absolute;
  left: 240px;
  top: -8px;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .header .header-controls .search-desktop {
    display: none;
  }
}
.header .header-controls .search-desktop form {
  position: relative;
}
.header .header-controls .search-desktop form .search-box {
  width: 261px;
  height: 40px;
  line-height: 3.2rem;
  box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  border: 1px solid #e5e5e5;
  padding: 10px 16px;
}
.header .header-controls .search-desktop form .search-button {
  padding: 10px 16px;
  width: 75px;
  height: 40px;
  background: #247BA0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}
.header .header-controls .header-auth-provider {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-direction: row;
}
@media screen and (max-width: 1024px) {
  .header .header-controls .header-auth-provider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 8px;
    width: 100%;
    height: 100%;
  }
}
.header .header-controls .header-auth-provider .auth-input {
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .header .header-controls .header-auth-provider .auth-input {
    justify-self: flex-end;
  }
}
.header .header-controls .header-auth-provider .auth-input .item {
  font-weight: 600;
  line-height: 1.7rem;
  color: #222;
  text-decoration: none;
  padding-right: 0.4rem;
}
.header .header-controls .header-auth-provider .auth-input .auth-provider {
  list-style: none;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header .header-controls .header-auth-provider .auth-input .auth-provider {
    padding: 0;
  }
}
.header .header-controls .header-auth-provider .auth-input .auth-provider .avatar-user {
  width: 3.6rem;
  height: 3.6rem;
  background: #E13C29;
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 2.4rem;
}
.header .header-controls .header-auth-provider .auth-input .auth-provider .avatar-user.remove-bg {
  background: none;
}
.header .header-controls .header-auth-provider .auth-input .auth-provider .avatar-user img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.header .header-controls .header-auth-provider .auth-input .auth-provider .auth-displayname {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header .header-controls .header-auth-provider .auth-input .auth-provider .auth-displayname:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #4F4F4F;
  position: absolute;
  top: 6px;
  right: -10px;
  content: "";
}
@media screen and (max-width: 1024px) {
  .header .header-controls .header-auth-provider .auth-input .auth-provider .auth-displayname:after {
    display: none;
  }
}
.header .header-controls .header-auth-provider .auth-input .auth-provider .auth-displayname .display-user {
  color: #4F4F4F;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10.7rem;
  display: block;
}
@media screen and (max-width: 1024px) {
  .header .header-controls .header-auth-provider .auth-input .auth-provider .auth-displayname .display-user {
    display: none;
  }
}
.header .header-controls .header-auth-provider .auth-input .auth-provider .auth-displayname .saba-id {
  background: rgba(0, 0, 0, 0.05);
  font-size: 1.2rem;
  font-weight: 600;
  color: #4F4F4F;
  line-height: normal;
  padding: 0 2px;
  display: inline-block;
  max-width: 11.6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .header .header-controls .header-auth-provider .auth-input .auth-provider .auth-displayname .saba-id {
    display: none;
  }
}
.header .header-controls .header-auth-provider .auth-input .box-auth {
  display: none;
  list-style: none;
  background: #FFFDF9;
  position: absolute;
  width: 25rem;
  top: 4.8rem;
  z-index: 99999;
  right: 0;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
}
.header .header-controls .header-auth-provider .auth-input .box-auth:before {
  width: 1.5rem;
  height: 1.5rem;
  border-width: 0 1px 1px 0;
  content: "";
  position: absolute;
  top: -8px;
  right: 23px;
  background: #FFFDF9;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media screen and (max-width: 1024px) {
  .header .header-controls .header-auth-provider .auth-input .box-auth {
    right: 0;
  }
}
.header .header-controls .header-auth-provider .auth-input .box-auth .info-user {
  padding: 1.6rem 1.6rem 0 1.6rem;
}
.header .header-controls .header-auth-provider .auth-input .box-auth .info-user:last-child {
  padding: 1.6rem;
}
.header .header-controls .header-auth-provider .auth-input .box-auth .info-user .item {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #4F4F4F;
  font-size: 1.6rem;
}
.header .header-controls .header-auth-provider .auth-input .box-auth .info-user .item .icon-logout {
  font-weight: bold;
  margin-left: 6px;
}
.header .header-controls .header-auth-provider .auth-input .box-auth .info-user .item:hover {
  color: #E13C29;
}
.header .header-controls .header-auth-provider .auth-input .box-auth .info-user .item:hover i::before {
  color: #E13C29;
}
.header .header-controls .header-auth-provider .auth-input .box-auth .info-user:last-child {
  border-bottom: none;
}
.header .header-controls .header-auth-provider .auth-input .box-auth .auth-provider {
  border-bottom: 1px solid #E5E5E5;
  justify-content: flex-start;
  padding: 1rem 1.6rem;
}
.header .header-controls .header-auth-provider .auth-input .box-auth .auth-provider .auth-displayname {
  padding-right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header .header-controls .header-auth-provider .auth-input .box-auth .auth-provider .auth-displayname:after {
  display: none;
}
.header .header-controls .header-auth-provider .auth-input .box-auth .auth-provider .display-user {
  font-size: 1.6rem;
  width: 18rem;
}
@media screen and (max-width: 1024px) {
  .header .header-controls .header-auth-provider .auth-input .box-auth .auth-provider .display-user {
    display: block;
  }
}
.header .header-controls .header-auth-provider .auth-input .box-auth .auth-provider .avatar-user {
  width: 4rem;
  height: 4rem;
  font-size: 2.8rem;
  margin: 0 0.6rem 0 0;
}
@media (max-width: 767px) {
  .header .header-controls .header-auth-provider .auth-input .box-auth .auth-provider .saba-id {
    display: inline-block;
  }
}
.header .header-controls .header-auth-provider .auth-input .active-box-auth {
  display: block;
}
.header .header-controls .header-auth-provider .item-control {
  margin-right: 1.5rem;
}
.header .header-controls .header-auth-provider .item-control:last-child {
  margin-right: 0;
}
.header .header-controls .header-auth-provider .islogin-user {
  display: block;
}
.header .header-controls .header-auth-provider .notification-auth {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header .header-controls .header-auth-provider .notification-auth {
    position: absolute;
    top: 2.2rem;
    z-index: 99;
    right: 5rem;
  }
}
.header .header-controls .header-auth-provider .notification-auth .bell {
  position: relative;
}
.header .header-controls .header-auth-provider .notification-auth .bell .auth-bell {
  text-decoration: none;
}
.header .header-controls .header-auth-provider .notification-auth .bell .icon-bell:before {
  font-size: 1.5rem;
}
.header .header-controls .header-auth-provider .notification-auth .bell .number-bell {
  text-decoration: none;
  background: #222;
  width: 2rem;
  height: 1.4rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 11px;
  position: absolute;
  top: -0.7rem;
  left: 0.5rem;
}

.child-mobile-menu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .child-mobile-menu {
    width: 100%;
    display: block;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 99;
  }
}
.child-mobile-menu .icon-arrow {
  display: block;
  width: 5rem;
  height: 3rem;
  background: url(../../images/icon/arrow.svg) no-repeat;
  background-position: 2px;
  position: absolute;
  top: 0.7rem;
  right: 0;
}
.child-mobile-menu .main-child-menu {
  display: flex;
  align-items: center;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  height: 4rem;
  background: #FFFDF9;
  padding: 0;
  overflow-x: overlay;
  overflow-y: hidden;
  white-space: nowrap;
  list-style: none;
}
.child-mobile-menu .main-child-menu::-webkit-scrollbar {
  display: none;
}
.child-mobile-menu .main-child-menu li:last-of-type {
  padding-right: 3rem;
}
.child-mobile-menu .main-child-menu li img {
  width: 9rem;
  display: block;
  max-width: inherit;
  min-height: 1.5rem;
}
.child-mobile-menu .main-child-menu li a {
  display: block;
  text-decoration: none;
  color: #4f4f4f;
  padding: 0 1.2rem;
  font-weight: bold;
}
.child-mobile-menu .main-child-menu li a [class*=icon-] {
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.child-mobile-menu .main-child-menu li a.active {
  color: #F12F19;
}
.child-mobile-menu .multilv-menu-mobile li {
  position: relative;
  padding: 0 1.2rem;
}
.child-mobile-menu .multilv-menu-mobile li:before {
  content: "";
  display: block;
  background: #929292;
  width: 0.1rem;
  height: 1.2rem;
  position: absolute;
  transform: rotate(20deg);
  right: 0px;
  top: 5px;
}
.child-mobile-menu .multilv-menu-mobile li:last-of-type {
  padding-right: 0;
}
.child-mobile-menu .multilv-menu-mobile li:last-of-type:before {
  display: none;
}
.child-mobile-menu .multilv-menu-mobile li a {
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .child-mobile-menu .multilv-menu-mobile li.hide-event-mobile {
    display: none;
  }
}

.menu-select {
  display: flex;
  align-items: center;
}
.menu-select.show-on-mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .menu-select.show-on-mobile {
    display: flex;
  }
}
.menu-select select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background: #fff url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuMTc1IDcuMTU4MkwxMCAxMC45NzQ5TDEzLjgyNSA3LjE1ODJMMTUgOC4zMzMyTDEwIDEzLjMzMzJMNSA4LjMzMzJMNi4xNzUgNy4xNTgyWiIgZmlsbD0iIzZENkQ2RCIvPgo8L3N2Zz4K");
  background-position: 2px;
  background-repeat: no-repeat;
  width: 2.4rem;
  height: 2rem;
  font-size: 0;
}
.menu-select select option {
  color: #222;
  font-weight: 400;
  padding: 0 1.5rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .menu-select.single-select-menu {
    margin-bottom: 1.2rem;
  }
}
@media screen and (max-width: 1024px) {
  .menu-select.single-select-menu a {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #F12F19;
  }
}
.menu-select.single-select-menu select {
  background: #fff url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuNzkyNSA3Ljg3NUwxMSAxMi4wNzMzTDE1LjIwNzUgNy44NzVMMTYuNSA5LjE2NzVMMTEgMTQuNjY3NUw1LjUgOS4xNjc1TDYuNzkyNSA3Ljg3NVoiIGZpbGw9IiNGMTJGMTkiLz4KPC9zdmc+Cg==");
}
@media screen and (max-width: 1024px) {
  .menu-select.active a {
    color: #F12F19 !important;
  }
}
@media screen and (max-width: 1024px) {
  .menu-select.active select {
    background: #fff url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuMTc1IDcuMTU4MkwxMCAxMC45NzQ5TDEzLjgyNSA3LjE1ODJMMTUgOC4zMzMyTDEwIDEzLjMzMzJMNSA4LjMzMzJMNi4xNzUgNy4xNTgyWiIgZmlsbD0iI0YxMkYxOSIvPgo8L3N2Zz4K");
  }
}

.top-header {
  padding: 0.5rem 0;
  background-color: #FFFDF9;
  position: sticky;
  top: 0;
  z-index: 99;
}
@media screen and (max-width: 1024px) {
  .top-header {
    display: none;
  }
}
.top-header .group-menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu {
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .top-header .group-menu {
    z-index: 1;
  }
}
.top-header .group-menu .nav-menu {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu {
    padding-top: 4.6rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - 16rem);
  }
}
.top-header .group-menu .nav-menu .main-menu-pc, .top-header .group-menu .nav-menu .main-menu-mobile {
  position: relative;
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: none;
  flex-direction: row;
  height: 4rem;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc, .top-header .group-menu .nav-menu .main-menu-mobile {
    position: unset;
    margin: 0;
    flex-direction: column;
    height: auto;
    z-index: 999;
    display: none;
    background-color: #FFFDF9;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 1.2rem;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc .open-menu-popup, .top-header .group-menu .nav-menu .main-menu-mobile .open-menu-popup {
  line-height: 1;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .open-menu-popup, .top-header .group-menu .nav-menu .main-menu-mobile .open-menu-popup {
    display: none !important;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc .open-menu-popup i, .top-header .group-menu .nav-menu .main-menu-mobile .open-menu-popup i {
  font-size: 2.4rem;
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 5rem;
  margin-left: 4rem;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item {
    display: block;
    height: auto;
  }
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item:after, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 50%;
    height: 1px;
    background: #E0E0E0;
    transform: translate(50%, 0);
  }
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item [class*=icon-], .top-header .group-menu .nav-menu .main-menu-mobile .menu-item [class*=icon-] {
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item [class*=icon-], .top-header .group-menu .nav-menu .main-menu-mobile .menu-item [class*=icon-] {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item {
    width: 100%;
    order: 2;
    margin-right: 0;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item:last-child a, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:last-child a {
  border: none;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item:last-child::after, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:last-child::after {
    display: none;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item.hide, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item.hide {
  display: none;
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item.contact-menu, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item.contact-menu {
  margin-left: 5rem;
  border: 1px solid #247BA0;
  border-radius: 4px;
  padding: 1rem 1.6rem;
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item.contact-menu .item, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item.contact-menu .item {
  font-size: 1.6rem;
  font-weight: 600;
  color: #247BA0;
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item .item, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item .item {
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  transition: color 0.2s ease;
  color: #2F2F2F;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item .item, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item .item {
    padding: 1.1rem 2rem 1.1rem 0;
    margin-right: 0;
    display: block;
    line-height: normal;
    color: #333;
    font-weight: 500;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item .item:hover, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item .item:hover {
  color: #F12F19;
  opacity: 1 !important;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item .item:hover, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item .item:hover {
    color: inherit;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item .hide-popup, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item .hide-popup {
  opacity: 0.5;
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(2) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(2) ul, .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(3) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(3) ul, .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(4) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(4) ul {
  left: auto;
  right: -40px;
}
@media (min-width: 1500px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(2) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(2) ul, .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(3) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(3) ul, .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(4) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(4) ul {
    right: auto;
    left: -25px;
  }
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(2) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(2) ul, .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(3) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(3) ul, .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(4) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(4) ul {
    right: 0;
    left: auto;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(2) ul li.has-sub ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(2) ul li.has-sub ul, .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(3) ul li.has-sub ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(3) ul li.has-sub ul, .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(4) ul li.has-sub ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(4) ul li.has-sub ul {
  left: -100%;
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(4) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(4) ul {
  left: -100px;
}
@media (min-width: 1500px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(4) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(4) ul {
    right: auto;
    left: -25px;
  }
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item:nth-last-child(4) ul, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item:nth-last-child(4) ul {
    right: auto;
    left: 0;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc .menu-item .active, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item .active {
  color: #F12F19;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .menu-item .active, .top-header .group-menu .nav-menu .main-menu-mobile .menu-item .active {
    color: inherit;
  }
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc .hiden-icon-mobile, .top-header .group-menu .nav-menu .main-menu-mobile .hiden-icon-mobile {
    display: none;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc .hiden-icon-mobile img, .top-header .group-menu .nav-menu .main-menu-mobile .hiden-icon-mobile img {
  display: block;
}
.top-header .group-menu .nav-menu .main-menu-pc li, .top-header .group-menu .nav-menu .main-menu-mobile li {
  position: relative;
}
.top-header .group-menu .nav-menu .main-menu-pc li.has-sub .submenu-button, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub .submenu-button {
  display: none;
  transition: all 0.3s ease;
  position: absolute;
  right: 10px;
  top: 6px;
  z-index: 9;
  transform: rotate(-90deg);
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc li.has-sub .submenu-button, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub .submenu-button {
    display: block;
    transform: unset;
    top: 9px;
    right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc li.has-sub .submenu-button.submenu-opened, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub .submenu-button.submenu-opened {
    transform: rotate(180deg);
    transition: all 0.3s ease;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul {
  list-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul {
    box-shadow: unset;
  }
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul:before, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    right: 50%;
    height: 1px;
    background: #E0E0E0;
    transform: translate(50%, 0);
  }
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul li, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul li {
    border-bottom: 1px solid #E0E0E0;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul li:hover, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul li:hover {
  background: #E8EAEF;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul li:hover, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul li:hover {
    background: unset;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul li:last-child, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul li:last-child {
  border-bottom: none;
}
.top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul li a, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul li a {
  text-decoration: none;
  display: block;
  font-size: 1.6rem;
  color: #2F2F2F;
  font-weight: 500;
  padding: 0.7rem 2rem;
  line-height: 1.8rem;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul li a, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul li a {
    font-weight: 500;
    padding: 1.1rem 0 1.1rem 1.1rem;
    line-height: normal;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul li a:hover, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul li a:hover {
  color: #F12F19;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul li a:hover, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul li a:hover {
    color: inherit;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul li > ul, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul li > ul {
  position: absolute;
  left: 100%;
  top: -14px;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc li.has-sub ul li > ul, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub ul li > ul {
    position: unset;
    left: auto;
    top: auto;
    border-top: 1px solid #E0E0E0;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc li.has-sub:hover > ul, .top-header .group-menu .nav-menu .main-menu-mobile li.has-sub:hover > ul {
  visibility: visible !important;
  opacity: 1 !important;
}
.top-header .group-menu .nav-menu .main-menu-pc li ul, .top-header .group-menu .nav-menu .main-menu-mobile li ul {
  visibility: hidden;
  position: absolute;
  width: 25rem;
  left: -20px;
  top: 50px;
  background: #FFFDF9;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  opacity: 0;
  padding: 1.3rem 0;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc li ul, .top-header .group-menu .nav-menu .main-menu-mobile li ul {
    display: none;
    visibility: unset;
    position: relative;
    opacity: 1;
    background: unset;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
    top: -1px;
    left: 0px;
  }
}
.top-header .group-menu .nav-menu .main-menu-pc li ul .submenu-button, .top-header .group-menu .nav-menu .main-menu-mobile li ul .submenu-button {
  display: block !important;
}
.top-header .group-menu .nav-menu .main-menu-pc, .top-header .group-menu .nav-menu .main-menu-mobile {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-pc, .top-header .group-menu .nav-menu .main-menu-mobile {
    display: none;
  }
}
.top-header .group-menu .nav-menu .main-menu-mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .main-menu-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1.2rem;
    align-items: flex-start;
  }
}
.top-header .group-menu .nav-menu .active-arrow i:before {
  color: #F12F19;
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .nav-menu .active-arrow i:before {
    color: inherit;
  }
}
@media screen and (max-width: 1024px) {
  .top-header .group-menu .active-nav {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .padding-mobile-none {
    padding: 0 !important;
  }
}

.right-header-section {
  display: none;
}
@media screen and (max-width: 1024px) {
  .right-header-section {
    width: 100%;
    display: block;
    padding: 0 1.2rem 1.2rem;
    background-color: #FFFDF9;
    position: absolute !important;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid #E0E0E0;
  }
}
@media (max-width: 767px) {
  .right-header-section {
    top: 0;
    left: 0;
  }
}

.search-input form {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .search-input form input {
    border: none;
    height: 3.6rem;
    width: 100%;
    font-weight: 400;
    font-size: 1.6rem;
    display: block;
    border-radius: 28px;
    padding: 0 3.2rem 0 4rem;
    background: #FFFDF9;
    border: 1px solid #DADADA;
  }
}
.search-input form .btn-search {
  background: none;
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}
@media screen and (max-width: 1024px) {
  .search-input form .btn-search {
    top: 6px;
    left: 12px;
    position: absolute;
  }
}
.search-input form .btn-search .icon-search {
  font-size: 2.4rem;
}
.search-input form .btn-search .icon-search:before {
  color: #4F4F4F;
}

.button-mobile, .button-detail-page {
  width: 2.8rem;
  height: 3rem;
  transform: rotate(0);
  cursor: pointer;
  display: none;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .button-mobile, .button-detail-page {
    display: block;
    position: absolute;
    top: 2rem;
    left: 1.2rem;
    z-index: 9999;
  }
}
.button-mobile .line-mb, .button-detail-page .line-mb {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 70%;
  background: #081224;
  opacity: 1;
  transform: rotate(0);
  transition: 0.25s ease-in-out;
  border-radius: 1rem;
}
.button-mobile .line-mb:nth-child(1), .button-detail-page .line-mb:nth-child(1) {
  top: 0.8rem;
}
.button-mobile .line-mb:nth-child(2), .button-detail-page .line-mb:nth-child(2) {
  top: 1.4rem;
}
.button-mobile .line-mb:nth-child(3), .button-detail-page .line-mb:nth-child(3) {
  top: 2rem;
}

@media screen and (max-width: 1024px) {
  .button-mobile {
    position: absolute;
  }
}

@media screen and (max-width: 1024px) {
  .button-detail-page {
    position: absolute;
    top: 0.8rem;
  }
}

.open .line-mb:nth-child(1) {
  top: 1.4rem;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.open .line-mb:nth-child(2) {
  opacity: 0;
  left: -5rem;
}
.open .line-mb:nth-child(3) {
  top: 1.4rem;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.languages-box {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .languages-box {
    padding-left: 30px;
  }
}
@media (max-width: 767px) {
  .languages-box {
    width: 70px;
  }
}
.languages-box .languages-list {
  list-style: none;
  display: none;
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background: #fff;
  min-width: 120px;
  border-radius: 4px;
  left: -0.8rem;
  top: 3rem;
  transition: opacity 0.3s;
  z-index: 1000;
}
@media (max-width: 767px) {
  .languages-box .languages-list {
    left: 2.2rem;
  }
}
.languages-box .languages-list .lang-item {
  text-decoration: none;
  color: #222;
  display: block;
  padding: 6px 8px;
}
.languages-box .languages-list .lang-item:hover {
  background-color: #ececec;
}
.languages-box .languages-list.active {
  display: block;
}
.languages-box .flag {
  width: 2.2rem;
  height: 2.2rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4rem;
  position: relative;
}
.languages-box .flag-vn {
  background: url(../../images/flag/icon-vn.svg) no-repeat;
}
.languages-box .flag-cn {
  background: url(../../images/flag/icon-cn.svg) no-repeat;
}
.languages-box .flag-en {
  background: url(../../images/flag/icon-en.svg) no-repeat;
}
.languages-box .flag-in {
  background: url(../../images/flag/icon-in.svg) no-repeat;
}
.languages-box .flag-ind {
  background: url(../../images/flag/icon-ind.svg) no-repeat;
}
.languages-box .flag-th {
  background: url(../../images/flag/icon-th.svg) no-repeat;
}
.languages-box .language-select {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-right: 1.3rem;
  border-right: 1px solid #e5e5e5;
}
@media screen and (max-width: 1024px) {
  .languages-box .language-select {
    border-right: none;
    padding-right: 0;
    margin-left: 1rem;
  }
}
.languages-box .language-select:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #222;
  content: "";
  margin-left: 0.4rem;
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  .languages-box .language-select:after {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .languages-box .language-select .country {
    display: none;
  }
}

.menu-popup {
  position: absolute;
  top: 50px;
  left: 0;
  background: #FFFDF9;
  z-index: 99;
  width: 100%;
  border-top: 1px solid #E4E4E4;
  padding-bottom: 2rem;
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.15);
}
.menu-popup.hide-popup {
  display: none;
}
@media screen and (max-width: 1024px) {
  .menu-popup {
    display: none !important;
  }
}
.menu-popup .group-column-popup {
  padding: 0 1rem;
  margin: 0 auto;
}
@media (min-width: 1280px) {
  .menu-popup .group-column-popup {
    max-width: 113rem;
  }
}
@media (min-width: 1400px) {
  .menu-popup .group-column-popup {
    max-width: 120rem;
  }
}
.menu-popup-header {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
  border-bottom: 1px solid #E4E4E4;
  color: #222;
}
.menu-popup-header .all-category {
  font-size: 1.8rem;
  font-weight: 600;
}
.menu-popup-header .close-popup i {
  font-size: 2.4rem;
  display: block;
  color: #222;
  cursor: pointer;
}
.menu-popup-content {
  display: grid;
  grid-template-columns: auto 21rem;
}
.menu-popup-content .content-menu {
  margin-top: 1.6rem;
  padding-bottom: 1.6rem;
  max-height: calc(100vh - 25rem);
  overflow: auto;
  padding-right: 1rem;
}
.menu-popup-content .content-menu::-webkit-scrollbar {
  width: 0.6rem;
}
.menu-popup-content .content-menu::-webkit-scrollbar-track {
  background: transparent;
}
.menu-popup-content .content-menu::-webkit-scrollbar-thumb {
  background: #E4E4E4;
}
.menu-popup-content .content-menu .block-menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14.5%);
  gap: 1.6rem;
  margin-bottom: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #E4E4E4;
}
@media screen and (min-width: 1391px) {
  .menu-popup-content .content-menu .block-menu {
    grid-template-columns: repeat(auto-fit, 15.5rem);
    gap: 1.9rem;
  }
}
.menu-popup-content .content-menu .block-menu:first-child, .menu-popup-content .content-menu .block-menu:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.menu-popup-content .content-menu .block-menu-list {
  list-style: none;
}
.menu-popup-content .content-menu .block-menu-list li {
  margin-bottom: 1rem;
  line-height: normal;
}
.menu-popup-content .content-menu .block-menu-list li:last-child {
  margin-bottom: 0;
}
.menu-popup-content .content-menu .block-menu-list li.more {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0;
  color: #595959;
  cursor: pointer;
  display: inline;
}
.menu-popup-content .content-menu .block-menu-list li.more:hover {
  text-decoration: underline;
}
.menu-popup-content .content-menu .block-menu-list li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #222;
}
.menu-popup-content .content-menu .block-menu-list li a:hover {
  text-decoration: underline;
}
.menu-popup-content .content-menu .block-menu-title {
  margin-bottom: 1rem;
  line-height: normal;
}
.menu-popup-content .content-menu .block-menu-title a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: #E13C29;
}
.menu-popup-content .content-menu .block-menu-title a:hover {
  text-decoration: underline;
}
.menu-popup-content .slide-bar-menu {
  padding: 1.6rem 0 0 1rem;
  border-left: 1px solid #E4E4E4;
}

.box-slidebar, .keywork {
  border-radius: 5px;
  background: #F5F6F6;
  padding: 1.2rem;
}
.box-slidebar-title, .keywork-title {
  font-size: 1.4rem;
  color: #222;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  line-height: normal;
}
.box-slidebar-list, .keywork-list {
  list-style: none;
}
.box-slidebar-list li, .keywork-list li {
  margin-bottom: 1rem;
  line-height: normal;
}
.box-slidebar-list li:last-child, .keywork-list li:last-child {
  margin-bottom: 0;
}
.box-slidebar-list li a, .keywork-list li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #222;
}
.box-slidebar-list li a:hover, .keywork-list li a:hover {
  text-decoration: underline;
}

.keywork {
  display: none;
  margin: 1rem 1.2rem;
}
@media screen and (max-width: 1024px) {
  .keywork {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .keywork-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }
}
.keywork-list li {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .hidden-body .group-menu, .hidden-body .padding-mobile-none, .hidden-body .top-header, .hidden-body .nav-menu {
    height: 100%;
  }
  .hidden-body .top-header {
    width: 100%;
    z-index: 100;
    display: block;
    top: 69px;
    bottom: 0;
    position: fixed;
    z-index: 10;
  }
  .hidden-body .header .child-mobile-menu {
    display: none;
  }
  .hidden-body .header {
    position: fixed;
    z-index: 99;
  }
  .hidden-body .child-mobile-menu {
    position: relative;
    z-index: 8;
  }
}

@media screen and (max-width: 1024px) {
  .active-fixed .header {
    opacity: 0;
  }
}
.active-fixed .top-header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.hidden-detail {
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .hidden-detail .group-menu, .hidden-detail .padding-mobile-none, .hidden-detail .top-header, .hidden-detail .nav-menu {
    height: 100%;
  }
  .hidden-detail .top-header {
    width: 100%;
    z-index: 99999;
    display: block;
    overflow: auto;
    height: calc(100% - 4rem);
    top: 4.4rem !important;
    bottom: 0;
    position: fixed;
  }
  .hidden-detail .header .child-mobile-menu {
    display: none;
  }
  .hidden-detail .singe-page {
    display: none;
  }
  .hidden-detail .child-mobile-menu {
    position: relative;
  }
}

.overflow-modal {
  overflow: hidden;
}

.search-background {
  height: 500px;
  background-image: url(../../images/banner-header.jpg);
  position: relative;
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 1024px) {
  .search-background {
    height: 300px;
  }
}
.search-background .text-wrapper {
  height: calc(400px - 1rem);
  position: relative;
}
@media screen and (max-width: 1024px) {
  .search-background .text-wrapper {
    height: 200px;
  }
}
.search-background .text-wrapper .text-bottom {
  bottom: 6.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 5%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.search-background .text-wrapper .text-bottom .main-title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.2rem;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .search-background .text-wrapper .text-bottom .main-title {
    font-size: 3rem;
    line-height: 1rem;
  }
}
.search-background .text-wrapper .text-bottom .sub-title {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .search-background .text-wrapper .text-bottom .sub-title {
    font-size: 2.5rem;
    font-weight: 300;
  }
}
.search-background .home-wrapper {
  background: rgba(5, 41, 60, 0.4);
  bottom: 0;
  left: 0;
  padding: 27px 0;
  position: absolute;
  width: 100%;
}
.search-background .home-wrapper .home-search {
  width: 64rem;
  height: 56px;
  border-radius: 8px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .search-background .home-wrapper .home-search {
    width: 90%;
  }
}
.search-background .home-wrapper .home-search .search-box {
  background-color: #fff;
  border: 1px solid #b8c6ce;
  border-right-color: #fff;
  box-sizing: border-box;
  padding: 10px 16px;
  width: 52.4rem;
}
.search-background .home-wrapper .home-search .search-button {
  width: 116px;
  padding: 10px 16px;
  background: #247BA0;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 24px;
  border: none;
  border-radius: 0 8px 8px 0;
}

.container, .base-container {
  width: 100%;
  padding: 0 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .container, .base-container {
    padding: 0 1.2rem;
  }
}
@media (min-width: 1280px) {
  .container, .base-container {
    max-width: 113rem;
  }
}
@media (min-width: 1400px) {
  .container, .base-container {
    max-width: 130rem;
  }
}

.medium-container, .detail-container {
  max-width: 112rem;
}

.block {
  margin-bottom: 3.2rem;
}
@media screen and (max-width: 1024px) {
  .block {
    margin-bottom: 3rem;
  }
}
.block_title {
  margin-bottom: 1rem;
  position: relative;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
  color: #222222;
}
@media screen and (max-width: 1024px) {
  .block_title {
    margin-bottom: 1rem;
  }
}

.block-first {
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 1024px) {
  .block-first {
    margin-bottom: 3rem;
  }
}

.heading-category {
  margin-bottom: 2.4rem;
  margin-right: 3rem;
  border-bottom: none;
}
.heading-category a {
  padding: 0.6rem 1.2rem 0.4rem 1.2rem;
}

.block-sticky .block__title, .block-sticky .heading-category {
  margin-bottom: 1.2rem !important;
}

.title-new-page {
  margin-bottom: 2.4rem;
  position: relative;
  border-bottom: none;
}
@media (max-width: 767px) {
  .title-new-page {
    border-bottom: 2px solid #f12f19;
    margin-bottom: 1rem;
  }
}
.title-new-page::before {
  content: "";
  display: block;
  height: 1px;
  background: #D4D4D4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .title-new-page::before {
    display: none;
  }
}
.title-new-page a {
  padding: 0.6rem 1.2rem 0.4rem 1.2rem;
}

.block-detail .block__title, .block-detail .heading-category {
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 1024px) {
  .block-detail .block__title, .block-detail .heading-category {
    margin-bottom: 1rem;
  }
}

.block-columns {
  display: flex;
  grid-gap: 2rem;
  align-items: start;
}
@media screen and (max-width: 1024px) {
  .block-columns {
    display: unset;
  }
}
@media (max-width: 767px) {
  .block-columns {
    display: unset;
  }
}
.block-columns .columns-left {
  width: 71%;
}
@media screen and (max-width: 1024px) {
  .block-columns .columns-left {
    width: 100%;
  }
}
.block-columns .columns-right {
  width: 35rem;
}
@media (max-width: 1399px) {
  .block-columns .columns-right {
    width: 33rem;
  }
}
@media screen and (max-width: 1024px) {
  .block-columns .columns-right {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .block-columns .columns-right {
    display: unset;
    width: auto;
  }
}

@media (max-width: 767px) {
  .block-last-page .block-columns {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0;
  }
}
.block-last-page .columns-left {
  border-right: 1px solid #E5E5E5;
  padding-right: 2rem;
  width: 100%;
}
@media (max-width: 767px) {
  .block-last-page .columns-left {
    padding-right: 0;
    border-right: none;
    order: 2;
    width: 100%;
  }
}
.block-last-page .columns-right {
  min-width: 30rem;
}
@media (max-width: 767px) {
  .block-last-page .columns-right {
    order: 1;
    width: 100%;
  }
}
.block-last-page .columns-right .banner-right {
  min-height: 42rem;
}

.wraper-hot-news {
  height: 3rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
  display: flex;
  background: #F5F6F6;
  border-radius: 0 3px 3px;
}
@media screen and (max-width: 1024px) {
  .wraper-hot-news {
    margin: 1.2rem 0;
    display: none;
  }
}
.wraper-hot-news .block__title, .wraper-hot-news .heading-category {
  border-bottom: none;
  margin-bottom: 0;
  width: 17rem;
}
.wraper-hot-news .list-hot-news {
  list-style: none;
  padding-left: 0;
  transition: all ease 0.6s;
  width: 79%;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .wraper-hot-news .list-hot-news {
    width: 160px;
  }
}
.wraper-hot-news .list-hot-news .hot-news-item {
  color: #89888b;
  font-size: 14px;
  font-weight: normal;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 3rem;
}
.wraper-hot-news .list-hot-news .hot-news-item a {
  text-decoration: none;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.hotnews-title a {
  cursor: context-menu;
}

.card-vertical {
  padding-bottom: 1.6rem;
}
.card-vertical.card-vertical-highlight [class*=card-vertical__]:not(.card-vertical__image) {
  padding: 0 1.6rem;
}
@media (max-width: 767px) {
  .card-vertical.card-vertical-highlight [class*=card-vertical__]:not(.card-vertical__image) {
    padding: 0 0.8rem;
  }
}
.card-vertical__image {
  margin-bottom: 0.8rem;
  overflow: hidden;
  display: block;
  position: relative;
  height: 15rem;
}
@media screen and (max-width: 1024px) {
  .card-vertical__image {
    margin-bottom: 0.5rem;
    height: 11rem;
  }
}
.card-vertical__title {
  color: #222;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: -0.02rem;
  text-decoration: none;
  transition: color 0.3s ease;
  display: initial;
  line-height: 2rem;
}
.card-vertical__title:hover {
  color: #EB5342;
}
.card-vertical__datetime {
  font-size: 1.2rem;
  color: #828282;
}
@media screen and (max-width: 1024px) {
  .card-vertical__datetime {
    font-size: 1.2rem;
  }
}
.card-vertical__description {
  margin: 0.3rem 0;
  line-height: 1.9rem;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .card-vertical__description {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.comment {
  display: inline-flex;
  align-items: center;
  margin-left: 1rem;
  vertical-align: middle;
  text-decoration: none !important;
}
.comment .icon-mode_comment_full {
  font-size: 1.6rem;
}
.comment .number {
  color: #2B89CC;
  font-weight: normal;
  font-style: normal;
  font-size: 1.3rem;
  margin-left: 0.3rem;
}

.box-vertical-image {
  display: block;
}
.box-vertical-content {
  margin-top: 1.2rem;
}
@media (max-width: 767px) {
  .box-vertical-content {
    margin-top: 1rem;
  }
}
.box-vertical-content h1, .box-vertical-content .heading-hight-light {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin: 0;
}
@media (max-width: 767px) {
  .box-vertical-content h1, .box-vertical-content .heading-hight-light {
    font-size: 2rem;
    line-height: 3rem;
  }
}
.box-vertical-content h3, .box-vertical-content h2 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.box-vertical-content h4 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
}
.box-vertical-content a {
  text-decoration: none;
  color: #222;
  transition: color 0.3s ease;
}
.box-vertical-content a:hover {
  color: #eb5342;
}
.box-vertical-content p {
  margin-top: 0.8rem;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: #222;
  line-height: 2.4rem;
}
@media (max-width: 767px) {
  .box-vertical-content p {
    font-size: 1.3rem;
    line-height: 1.5Rrem;
  }
}
.box-vertical-content .heading-box-content {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
@media (max-width: 767px) {
  .box-vertical-content .heading-box-content {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.box-vertical.box-vertical-hightlight .box-vertical-image {
  height: 35rem;
}
@media (max-width: 767px) {
  .box-vertical.box-vertical-hightlight .box-vertical-image {
    height: 23rem;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
    border-radius: 0;
  }
}
.box-vertical.box-vertical-hightlight .box-vertical-content {
  margin-top: 1.6rem;
}
@media (max-width: 767px) {
  .box-vertical.box-vertical-hightlight .box-vertical-content {
    margin-top: 1rem;
  }
}
.box-vertical .box-video {
  position: relative;
}

.discipline {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0.25em 0 0;
}
.discipline .discipline-item {
  width: 20%;
  background: #EDF3F6;
  border: 1px solid #FFFFFF;
  padding: 1.6rem;
}
@media screen and (max-width: 1024px) {
  .discipline .discipline-item {
    width: 50%;
  }
}
.discipline .discipline-item:hover {
  background-color: #247ba0;
}
.discipline .discipline-item:hover a {
  color: #ffffff;
}
.discipline .discipline-item a {
  color: #05293c;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  transition: none !important;
  text-align: center;
  text-decoration: none;
}
.discipline .DisciplineIcons {
  display: block;
  font-size: 2.5em;
  padding: 0.5em;
}

.block-artile {
  display: grid;
  grid-template-rows: unset;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.4rem;
  grid-column: 1/4;
}

.block-social-article {
  display: grid;
  grid-template-rows: unset;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2.4rem;
  grid-column: 1/4;
}

.block-interest .block_title {
  margin-bottom: 2.4rem;
}

.block-paging {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  margin-top: 2rem;
}
.block-paging .paging {
  display: flex;
}
.block-paging .paging .page {
  border: none;
  box-sizing: border-box;
  color: #9ca0ac;
  cursor: pointer;
  display: flex;
  float: none;
  font-weight: 600;
  justify-content: center;
  line-height: 2.4rem;
  margin: 10px;
  padding: 10px;
  width: 44px;
  height: 44px;
}
.block-paging .paging .page.active {
  background-color: #247BA0;
  color: #ffffff;
}