<table class="custom-table text-center">
    <tr>
        <th width="3%">#</th>
        <th width="18%">Subject</th>
        <th width="8%">Content</th>
        <th width="12%">CreatedDate</th>
        <th width="10%">CreatedBy</th>
        <th width="5%">Status</th>
        <th width="10%">Action</th>
    </tr>

		<tr>
			<td>1</td>
			<td class="text-left">Subject 1</td>
			<td class="text-left">Content 1</td>
			<td class="text-left">CreatedDate 1</td>
			<td class="text-left">CreatedBy 1</td>
			<td class="text-left">Sdtatus 1</td>
			<td>
				<p class="table-control">
					<a href="#"
						<i class="icon-edit-admin"></i>
						<span class="tooltip-menu">
							Edit
						</span>
					</a>
					<a href="javascript:;" class="action action-delete delete-email" >
						<i class="icon-delete-admin"></i>
						<span class="tooltip-menu">
							Delete
						</span>
					</a>
					<a href="javascript:;" class="action action-send send-email">
						<i class="icon-send-admin"></i>
						<span class="tooltip-menu">
							Send
						</span>
					</a>
				</p>
			</td>
		</tr>
</table>
