.form-filter {
  border: 1px solid #b7b7b7;
  margin-bottom: 1rem;
  padding: 1rem 1rem 0;
  background-color: #e8e8e8; }
  .form-filter .form-row {
    margin: 0; }
    .form-filter .form-row .form-group {
      width: 260px;
      display: flex;
      align-items: center;
      margin-right: 1rem; }
      .form-filter .form-row .form-group .form-label {
        width: 100px;
        margin: 0 .5rem 0 0;
        padding: 0; }
      .form-filter .form-row .form-group .form-control-wrapper, .form-filter .form-row .form-group .form-control {
        width: calc(100% - .5rem - 100px); }
      .form-filter .form-row .form-group .form-control:focus {
        box-shadow: none; }

.table {
  line-height: 1.15;
  table-layout: fixed;
  border-collapse: collapse; }
  .table a {
    color: #147ccc;
    text-decoration: none; }
    .table a:hover, .table a:focus, .table a:active {
      text-decoration: none; }
  .table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
    background: #c0cbe2;
    border: 1px solid #b7b7b7;
    border-top: 1px solid #b7b7b7;
    color: #363636;
    padding: 8px; }
    .table > thead > tr > th:first-child {
      border-left-color: #b7b7b7; }
    .table > thead > tr > th:last-child {
      border-right-color: #b7b7b7; }
  .table > tbody tr td {
    border: 1px solid #b7b7b7;
    color: #2c2c2c;
    padding: 4px 5px;
    background: #fff;
    vertical-align: middle; }
  .table > tbody tr:hover td {
    background: #fcf4df; }
  .table > tbody tr.total td {
    background: #B8C3C9; }
  .table > tbody tr.highlight td {
    background: #f7dbb6;
    font-weight: bold; }
  .table > tbody tr:nth-child(2n) td {
    background: #eceff1; }
  .table > tbody tr.no-data td {
    color: red;
    text-align: center; }

.page-container {
  padding: 4px 5px;
  background-color: #EFF3F8;
  border: 1px solid #b7b7b7;
  border-top-width: 0; }
  .page-container .fa {
    font-size: 14px;
    font-weight: bold;
    color: #4c6375;
    cursor: pointer;
    margin: 0 5px; }
    .page-container .fa:focus {
      outline: none; }
    .page-container .fa:hover, .page-container .fa:focus {
      text-decoration: none; }
  .page-container .disable {
    color: #d1dae1;
    cursor: default;
    pointer-events: none; }
  .page-container .page-form {
    width: auto;
    height: auto;
    font-size: inherit;
    padding: 2px;
    text-align: center;
    margin: 0;
    outline: unset; }
    .page-container .page-form, .page-container .page-form:focus {
      background: #fff;
      border: 1px solid #e2d6d6;
      box-shadow: none; }
  .page-container .page-input {
    display: inline; }
    .page-container .page-input:after, .page-container .page-input:before {
      content: "";
      border: 1px solid #ccc; }
    .page-container .page-input:after {
      margin-left: 5px; }
    .page-container .page-input:before {
      margin-right: 5px; }
  .page-container .pagesize-select {
    height: auto;
    font-size: inherit;
    padding: 2px;
    min-width: 65px;
    border: 1px solid #e2d6d6;
    margin-left: 5px;
    outline: unset; }
  .page-container .page-info {
    float: right;
    padding: 3px; }

.table-container {
  overflow-x: auto; }

.header-content,
.body-content,
.footer-content {
  border: solid 1px #b7b7b7; }
  .header-content .table,
  .body-content .table,
  .footer-content .table {
    margin: 0;
    border-right: 1px solid #b7b7b7; }
    .header-content .table td:first-child,
    .body-content .table td:first-child,
    .footer-content .table td:first-child {
      border-left: none; }

.table th,
.table td {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 1px; }

.header-content,
.body-content,
.footer-content,
.table-wrapper {
  position: relative; }

.header-content,
.footer-content {
  padding-right: 17px; }

.first-row {
  height: auto; }
  .first-row td {
    height: 0;
    border: none !important;
    padding: 0 !important;
    line-height: 0; }

.body-content {
  overflow-y: auto;
  overflow-x: auto;
  border-top: none; }
  .body-content.hasScroll {
    padding-right: 0; }
  .body-content tr:last-child td {
    border-bottom: none; }

.header-content {
  border-bottom: none; }
  .header-content .table > thead > tr > th {
    border: none;
    border-left: 1px solid #b7b7b7; }
    .header-content .table > thead > tr > th.sortable {
      cursor: pointer; }
      .header-content .table > thead > tr > th.sortable .asc, .header-content .table > thead > tr > th.sortable .desc {
        display: inline-block;
        margin-left: 4px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent; }
      .header-content .table > thead > tr > th.sortable .asc {
        border-bottom: 5px solid; }
      .header-content .table > thead > tr > th.sortable .desc {
        border-top: 5px solid; }
  .header-content .table > thead > tr:nth-child(n + 3) {
    border-top: 1px solid #b7b7b7; }

.footer-content {
  border-top: none; }
  .footer-content .table {
    font-weight: bold; }
    .footer-content .table .fixed-table-total td {
      border-bottom: none; }
    .footer-content .table .fixed-table-grant-total td {
      background: #b8c3c9; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.multiple-select-container {
  border: 1px solid #ced4da;
  position: relative;
  background-color: #FFF; }

.multiple-select-default {
  box-sizing: border-box;
  width: 100%; }

.multiple-select-label {
  color: #333;
  display: flex;
  align-items: center;
  height: 26px;
  padding: 6px 27px 6px 0;
  text-align: left;
  outline: none !important;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 0.875rem; }
  .multiple-select-label .text-display {
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 10px;
    font-size: 13px; }
  .multiple-select-label .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    right: 10px;
    top: calc(50% - 3px); }

.multiple-select-options-container {
  border: 1px solid #d3d4d4;
  background: #fff;
  position: absolute;
  top: 25px;
  left: 0px;
  z-index: 100;
  width: auto;
  min-width: 100%; }

.multiple-select-options {
  margin: 0;
  padding: 5px;
  overflow: auto;
  max-height: 230px; }

.multiple-select-option-all {
  border-bottom: 1px solid #d3d4d4;
  padding-top: 0;
  padding-bottom: 0; }

.multiple-select-item {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  font-size: 13px;
  user-select: none;
  position: relative; }
  .multiple-select-item input[type=checkbox] + label {
    cursor: pointer; }
  .multiple-select-item label {
    margin-bottom: 0;
    padding-left: 10px; }
  .multiple-select-item ul.sub-data {
    position: absolute;
    list-style: none;
    top: 25px; }
    .multiple-select-item ul.sub-data:before {
      content: "";
      display: block;
      width: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 25px;
      border-left: 1px solid #b7b7b7; }
    .multiple-select-item ul.sub-data li {
      padding: 0 15px;
      line-height: 2em;
      position: relative;
      left: -15px; }
      .multiple-select-item ul.sub-data li:before {
        content: "";
        display: block;
        width: 10px;
        border-top: 1px solid #b7b7b7;
        position: absolute;
        top: 13px;
        left: 0; }
      .multiple-select-item ul.sub-data li:last-child:before {
        background: white;
        height: auto;
        bottom: 0; }
  .multiple-select-item .expand-icon {
    cursor: pointer;
    padding-left: 5px;
    font-size: 14px; }

.multiple-select-field {
  display: inline-block; }

.invalid.multiple-select-container {
  border: 1px solid #dc3545; }

.multiple-select-field.invalid .invalid-feedback {
  display: block; }

button[disabled] {
  opacity: 0.5; }

.form-label.required:after {
  content: "*";
  color: #ff0101;
  margin-left: .25rem; }

.form-control:invalid, .form-control.is-invalid, .form-control:invalid, .form-control.is-invalid {
  background-image: unset;
  padding-right: unset; }

.alert.alert-danger ul.list-message-error {
  margin: 0;
  padding: 0 0 0 1.25rem; }

.modal-dialog .modal-content {
  background-clip: unset; }
  .modal-dialog .modal-content .modal-header {
    background: #466ab6;
    color: #fff;
    padding: .75rem; }
    .modal-dialog .modal-content .modal-header .close {
      color: #fff;
      padding: .75rem;
      text-shadow: unset;
      opacity: 1; }

.modal-dialog.react-draggable .modal-header {
  cursor: move; }

icon-edit, .icon-delete {
  height: 24px;
  width: 24px;
  line-height: 24px;
  cursor: pointer; }
  icon-edit:hover, .icon-delete:hover {
    border-radius: 50%;
    color: #fff; }

.icon-edit:hover {
  background-color: #ff9913; }

.icon-delete:hover {
  background-color: #fe3a3a !important; }

.icon-excel {
  color: #28a745;
  font-size: 14px;
  cursor: pointer; }

.table-title {
  border: 1px solid #b7b7b7;
  border-bottom-width: 0;
  padding: 4px 5px;
  background-color: #e8e8e8;
  font-weight: bold;
  color: #3b5a9a; }

.pointer-event-none {
  pointer-events: none;
  color: #9a9595; }

.cursor-not-allowed {
  cursor: not-allowed !important; }

.form-filter .form-row .form-group {
  width: 350px; }

.form-filter .form-row .communication-setting {
  width: 80px !important; }

.multiple-select-options-container {
  width: 300px; }

.tooltipCatagory [class$="inner"] {
  min-width: 100px;
  max-width: 550px;
  min-height: 100px;
  max-height: 920px;
  border-radius: 3px;
  font-size: 12px;
  text-align: left; }

#tooltip-customers [class$="inner"] {
  min-width: 300px;
  text-align: left; }

.communication-setting-modal .modal-content {
  width: 83%; }
  .communication-setting-modal .modal-content .modal-body .customerShow {
    border-left: 18px solid green; }
  .communication-setting-modal .modal-content .modal-body .guestShow {
    border-left: 18px solid #06c; }
  .communication-setting-modal .modal-content .modal-body .invalidShow {
    border-left: 18px solid red; }
  .communication-setting-modal .modal-content .modal-body .customersList {
    border: 1px solid #ced4da; }
  .communication-setting-modal .modal-content .modal-body .txt-customer, .communication-setting-modal .modal-content .modal-body .txt-guest, .communication-setting-modal .modal-content .modal-body .txt-invalid {
    display: flex;
    align-items: center;
    border: 1px solid #8e8e8e;
    border-radius: 5px; }
    .communication-setting-modal .modal-content .modal-body .txt-customer .fa-times, .communication-setting-modal .modal-content .modal-body .txt-guest .fa-times, .communication-setting-modal .modal-content .modal-body .txt-invalid .fa-times {
      cursor: pointer; }
  .communication-setting-modal .modal-content .modal-body .txt-customer {
    color: green; }
  .communication-setting-modal .modal-content .modal-body .txt-guest {
    color: #06c; }
  .communication-setting-modal .modal-content .modal-body .txt-invalid {
    color: red; }
  .communication-setting-modal .modal-content .modal-body .fa-question-circle-o {
    font-size: 14px;
    color: #0789d1;
    position: absolute;
    right: 0; }

@media (min-width: 768px) {
  .sub-category-left {
    margin-left: 3rem !important; } }


/*# sourceMappingURL=index.chunk.css.map*/